

<header>
    <div class="top-navigation" style="background-color: #b97155" >
        <div class="heading">
            <div class="container">
                <div class="logo">
                    <div class="menu">
                        <a href="javascript:;" id="menuToggle"><i class="icon-menu1"></i></a>
                    </div>
                    <a href="/home" class="image-with-background">
                        <img src="/img/logoNhom.png">
                    </a>
                    <div class="cart cart-mb">
                        <a href="/cart"><i class="fal fa-shopping-cart"></i><span class="cartCount" id="cart-total">0</span></a>
                    </div>
                </div>
                <div class="search-box">
                    <form method="get" action="/search" class="formSearchSuggest"
                          enctype="application/x-www-form-urlencoded">
                        <div class="border">
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input
                                type="text" id="kwd" name="q" placeholder="Hôm nay bạn cần tìm gì?" autocomplete="off"
                                class="ui-autocomplete-input">
                            <button type="submit" class="search"><i class="icon-search"></i></button>
                        </div>
                        <div class="searchFolding search-box"></div>
                    </form>
                </div>

                <div class="order-tools">
                    <div class="item check-order">
                        <a id="btnCheckOrder" href="/shop/product/don_hang">
                            <span class="icon"><i class="icon-truck"></i></span>
                            <span class="text">Kiểm tra đơn hàng</span>
                        </a>
                    </div>
                    <div class="item cart cart-desktop">
                        <a href="/cart">
                            <i class="icon-cart"></i>
                            <label><i class="icon-left"></i><span class="cartCount" th:text="${quantity2 != null ? quantity2 : '0'}"></span></label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ul style="font-size: 14px">
                <li><a href="/home">Trang Chủ</a></li>
                <li><a href="/shop/product/index">Sản Phẩm</a></li>
                <li><a href="/shop/product/don_hang">Tra cứu đơn hàng</a></li>
                <li>

                            <div th:if="${session.authenuser == null}">
                                <a class="login-panel px-3" data-toggle="modal" href="/login" data-target="#loginModal" type="button">
                                    <i class="fa fa-user"></i>&nbsp;Đăng nhập
                                </a>
                                <a class="login-panel px-3" href="/user/signup">
                                    <i class="fa fa-user"></i>&nbsp;Đăng ký
                                </a>
                            </div>
                            <div th:if="${session.authenuser}">
                                <span style="color: white">Họ tên: </span>
                                    <a class="mr-3" style="color: white"
                                          th:text="${session.authenuser.getCustomer().name}"></a>
                                <div>
                                    <a class="dropdown-toggle" href="#">
                                        <img class="profile-image" th:src="${session.authenuser.getImage()}" style="color: white" alt="Profile">
                                    </a>
                                    <div class="dropdown-menu" id="profile-menu" style="background-color: #7a6e25">
                                        <a class="dropdown-item" th:href="@{/shop/profile}">Thông tin</a>
                                        <a class="dropdown-item" th:href="@{/shop/change_password}">Đổi mật khẩu</a>
                                        <a class="dropdown-item" th:href="@{/shop/product/don_hang}">Đơn hàng</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/login}">Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                </li>
            </ul>
        </div>
    </div>

    <!--  Mobile version  -->

    <div class="sidebar mb-version-menu">
        <nav class="global">
            <div class="user-info">
                <div class="user-avatar">
                    <div class="no-avt">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <div class="user-name">
                    <p><a href="/user/signin"><strong>Đăng nhập</strong></a></p>
                </div>
            </div>
        </nav>
        <div class="close">
            <a href="javascript:;" id="closeMenu">
                <span></span>
                <span></span>
            </a>
        </div>
    </div>


    <!--    Đăng nhập -->
    <div class="modal fade login" id="getMember" data-bs-toggle="modal" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered container">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="jquery-modal blocker current">
                        <div class="login-form">
                            <div class="login-bg">
                                <img src="https://web.nvnstatic.net/tp/T0415/img/login-bg.png?v=3">
                            </div>
                            <div class="form">
                                <h1>Đăng nhập</h1>
                                <div class="external">
                                    <form>
                                        <button class="btn-extlogin btn-facebook" title="Đăng nhập qua Facebook"
                                                type="submit" id="Facebook" name="provider" value="Facebook">
                                            <a href="/user/fbsignin?redirect=/">
                                                <i class="fab fa-facebook-square"></i>
                                                Tiếp tục với Facebook
                                            </a>
                                        </button>
                                        <button class="btn-extlogin btn-google" type="submit"
                                                title="Đăng nhập qua Google+"
                                                id="Google" name="provider" value="Google">
                                            <a href="/user/ggsignin">
                                                <i class="fab fa-google-plus-square"></i>
                                                Đăng nhập với Google
                                            </a>
                                        </button>
                                    </form>
                                </div>
                                <div class="split">
                                    <p>Hoặc</p>
                                </div>
                                <div class="internal">
                                    <form action="/signin" method="post" id="loginForm">
                                        <div class="row">
                                            <div class="label">Tài khoản</div>
                                            <div class="input">
                                                <input type="text" name="username" placeholder="Hãy nhập tên tài khoản">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="label">Mật khẩu</div>
                                            <div class="input">
                                                <input type="password" name="password" id="passwordModal">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="button-group">
                                                <button class="btn btn-submit" id="btnsignin" type="submit">ĐĂNG NHẬP
                                                </button>
                                                <a class="btn btn-link ajax-content" data-bs-dismiss="modal"
                                                   aria-label="Close" href="javascript:void(0)" data-bs-toggle="modal"
                                                   data-bs-target="#signup">ĐĂNG KÝ</a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p class="forgotpass"><a class="ajax-content" href="/user/getpassword">Quên
                                                mật
                                                khẩu?</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="close-modal icon-minutes close" data-bs-dismiss="modal"
                       aria-label="Close"><i class="fas fa-minus-circle"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!--    Đăng ký-->
    <div class="modal fade login signup-content" id="signup" data-bs-toggle="modal" data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered container">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="jquery-modal blocker current">
                        <div class="login-form">
                            <div class="login-bg">
                                <img src="https://web.nvnstatic.net/tp/T0415/img/login-bg.png?v=3">
                            </div>
                            <div class="form">
                                <div class="center" style="text-align:center;">
                                    <h2>Đăng ký tài khoản</h2>
                                    <p>Chú ý các nội dung có dấu * bạn cần phải nhập</p>

                                </div>
                                <div class="hh-form">
                                    <form id="formSignUp">
                                        <div class="form-controls">
                                            <label>Họ tên:</label>
                                            <div class="controls">
                                                <input type="text" name="fullName" id="fullName" placeholder="Họ tên *">
                                            </div>
                                        </div>
                                        <div class="form-controls">
                                            <label>Mật khẩu:</label>
                                            <div class="controls">
                                                <input type="password" name="password" id="password"
                                                       placeholder="Mật khẩu *">
                                            </div>
                                        </div>
                                        <div class="form-controls">
                                            <label>Nhập lại mật khẩu:</label>
                                            <div class="controls">
                                                <input type="password" name="repassword" id="repassword"
                                                       placeholder="Nhập lại mật khẩu *">
                                            </div>
                                        </div>
                                        <div class="form-controls">
                                            <label>Email:</label>
                                            <div class="controls">
                                                <input type="text" name="email" id="email" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="form-controls">
                                            <label>Điện thoại:</label>
                                            <div class="controls">
                                                <input type="tel" name="mobile" id="mobile" placeholder="Điện thoại *"
                                                       data-required="1">
                                            </div>
                                        </div>

                                        <div class="form-controls">
                                            <label>Địa chỉ:</label>
                                            <div class="controls">
                                                <input type="text" name="address" id="address" placeholder="Địa chỉ *"
                                                       data-required="1">
                                            </div>
                                        </div>

                                        <div class="form-controls">
                                            <div class="controls submit-controls">
                                                <button type="submit" id="btnSignup">ĐĂNG KÝ TÀI KHOẢN</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="close-modal icon-minutes close" data-bs-dismiss="modal"
                       aria-label="Close"><i class="fas fa-minus-circle"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('mouseleave', function(event) {
            var profileMenu = document.querySelector('#profile-menu');
            if (event.target !== profileMenu && event.target.parentNode !== profileMenu) {
                profileMenu.style.display = 'none';
            }
        });
    </script>
</header>