
<header>
    <div class="top-navigation" style="background-color: #b97155">
        <div class="container">
            <ul>
                <li><a href="">Giới Thiệu</a></li>
                <li><a href="">Sản Phẩm Khuyến Mại</a></li>
                <li><a href="">Chính Sách Bảo Hành</a></li>
                <li><a href="">Nền Tảng Bán Hàng</a></li>
                <li><a href="">Tuyển dụng</a></li>
                <li><a href="/order/search">Tra cứu đơn hàng</a></li>
                <li><a id="login-modal" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getMember">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
    <div class="heading">
        <div class="container">
            <div class="logo">
                <div class="menu">
                    <a href="javascript:;" id="menuToggle"><i class="icon-menu1"></i></a>
                </div>
                <a href="/" >
                    <img src="/img/aaaaaaaaa.jpg"
                    >
                </a>
                <div class="cart cart-mb">
                    <a href="/cart"><i class="fal fa-shopping-cart"></i><span class="cartCount" id="cart-total">0</span></a>
                </div>
            </div>
            <div class="search-box">
                <form method="get" action="/search" class="formSearchSuggest"
                      enctype="application/x-www-form-urlencoded">
                    <div class="border">
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input
                            type="text" id="kwd" name="q" placeholder="Hôm nay bạn cần tìm gì?" autocomplete="off"
                            class="ui-autocomplete-input">
                        <button type="submit" class="search"><i class="icon-search"></i></button>
                    </div>
                    <div class="searchFolding search-box"></div>
                </form>
            </div>

            <div class="order-tools">
                <div class="item check-order">
                    <a id="btnCheckOrder" href="/order/search">
                        <span class="icon"><i class="icon-truck"></i></span>
                        <span class="text">Kiểm tra đơn hàng</span>
                    </a>
                </div>
                <div class="item cart cart-desktop">
                    <a href="/cart">
                        <i class="icon-cart"></i>
                        <label><i class="icon-left"></i><span class="cartCount" >0</span></label>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--  Mobile version  -->
    <div class="sidebar mb-version-menu">
        <nav class="global">
            <div class="user-info">
                <div class="user-avatar">
                    <div class="no-avt">
                        <i class="fas fa-user"></i>
                    </div>
                    <a href="javascript:void(0)" class="close-modal icon-minutes close" data-bs-dismiss="modal"
                       aria-label="Close"><i class="fas fa-minus-circle"></i> </a>
                </div>
                <div class="user-name">
                    <p><a href="/user/signin"><strong>Đăng nhập</strong></a></p>
                </div>
            </div>
        </nav>
        <div class="close">
            <a href="javascript:;" id="closeMenu">
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>
