<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Account</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="d-flex">
                <a href="/admin/voucher/create" class="btn btn-primary mx-5"><i class="fas fa-plus"></i></a>
                <!-- <div>
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div> -->
            </div>
            <div style="overflow: auto" class="mt-4">
                <table class="table table-hover text-start" style="min-width: max-content; max-height: 500px; ">
                    <thead class="position-sticky top-0">
                        <tr>
                            <th scope="col">Name
                                <a th:href="@{/admin/voucher/sort(sortBy=name ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=name ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Code
                                <a th:href="@{/admin/voucher/sort(sortBy=code ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=code ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Ngày bắt đầu
                                <a th:href="@{/admin/voucher/sort(sortBy=start_time ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=start_time ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Ngày kết thúc
                                <a th:href="@{/admin/voucher/sort(sortBy=end_time ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=end_time ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Số Lượng
                                <a th:href="@{/admin/voucher/sort(sortBy=quantily ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=quantily ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Giảm
                                <a th:href="@{/admin/voucher/sort(sortBy=discount ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=discount ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Giảm tối da
                                <a th:href="@{/admin/voucher/sort(sortBy=max_discount ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=max_discount ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Hóa đơn tối thiểu
                                <a th:href="@{/admin/voucher/sort(sortBy=min_order ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=min_order ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Trạng thái
                                <a th:href="@{/admin/voucher/sort(sortBy=status ,sortDir=true)}"><i
                                        class="fas fa-arrow-up"></i></a>
                                <a th:href="@{/admin/voucher/sort(sortBy=status ,sortDir=false)}"><i
                                        class="fas fa-arrow-down"></i></a>
                            </th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="voucher : ${list}">
                            <td th:text="${voucher.name}"></td>
                            <td th:text="${voucher.code}"></td>
                            <td th:text="${#temporals.format(voucher?.start_time, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${#temporals.format(voucher?.end_time, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${voucher?.quantily}"></td>
                            <td th:if="${voucher.types}" th:text="${voucher?.discount} +' %'"></td>
                            <td th:unless="${voucher.types}"
                                th:text="${#strings.replace(#numbers.formatDecimal(voucher?.discount, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                            </td>
                            <td
                                th:text="${#strings.replace(#numbers.formatDecimal(voucher?.max_discount, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                            </td>
                            <td
                                th:text="${#strings.replace(#numbers.formatDecimal(voucher?.min_order, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                            </td>
                            <td th:unless="${voucher.deleted}" th:text="${convert.convertTrangThai(voucher.status)}">
                            </td>
                            <td th:if="${voucher.deleted}" class="text-decoration-line-through"
                                th:text="${convert.convertTrangThai(voucher.status)}">
                            </td>
                            <td>
                                <a th:unless="${voucher.deleted}" th:href="@{/admin/voucher/delete(id=${voucher.id})}"
                                    class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <a th:if="${voucher.deleted}" th:href="@{/admin/voucher/delete(id=${voucher.id})}"
                                    class="btn btn-secondary"><i class="fas fa-undo-alt"></i></a>
                                <a th:href="@{/admin/voucher/edit(id=${voucher.id})}" class="btn btn-success"><i
                                        class="fas fa-edit"></i></a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#staticBackdrop' + ${voucher.id}">
                                    <i class="far fa-eye"></i>
                                </button>
                                <div class="modal fade" th:id="'staticBackdrop' + ${voucher.id}"
                                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <p><strong>Name</strong>: <span th:text="${voucher.name}"></span>
                                                    </p>
                                                    <p><strong>code</strong>: <span th:text="${voucher.code}"></span>
                                                    </p>
                                                    <p><strong>start time:</strong> <span
                                                            th:text="${#temporals.format(voucher?.start_time, 'dd-MM-yyyy HH:mm')}"></span>
                                                    </p>
                                                    <p><strong>end time</strong>: <span
                                                            th:text="${#temporals.format(voucher?.end_time, 'dd-MM-yyyy HH:mm')}"></span>
                                                    </p>
                                                    <p> <strong>Quantily :</strong> <span
                                                            th:text="${voucher?.quantily}"></span></p>
                                                    <p> <strong>Max Discount:</strong> <span
                                                            th:text="${#strings.replace(#numbers.formatDecimal(voucher?.max_discount, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                                                        </span></p>
                                                    <p> <strong>Min Order:</strong> <span
                                                            th:text="${#strings.replace(#numbers.formatDecimal(voucher?.min_order, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                                                        </span></p>

                                                    <p> <strong>Trạng Thái :</strong> <span
                                                            th:unless="${voucher.deleted}"
                                                            th:text="${convert.convertTrangThai(voucher.status)}">
                                                        </span>
                                                        <span th:if="${voucher.deleted}"
                                                            class="text-decoration-line-through"
                                                            th:text="${convert.convertTrangThai(voucher.status)}">
                                                        </span>
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-footer d-flex justify-content-between mt-3">
                <div class="text-start">This page is <span th:text="${crpage}"></span> of <span
                        th:text="${totalpage}"></span> </div>
                <div class="text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled" th:if="${crpage-1 < 1}">
                                <a class="page-link" th:href="@{/admin/voucher/page(pageno=${crpage-1})}" tabindex="-1"
                                    aria-disabled="true"><i class="fas fa-chevron-left fa-sm"></i></a>
                            </li>
                            <li class="page-item" th:unless="${crpage-1 < 1}">
                                <a class="page-link" th:href="@{/admin/voucher/page(pageno=${crpage-1})}"><i
                                        class="fas fa-chevron-left fa-sm"></i></a>
                            </li>
                            <th:block th:each="page : ${pagenumber}">
                                <li class="page-item" th:class="${crpage == page} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:href="@{/admin/voucher/page(pageno=${page})}"
                                        th:text="${page}"></a>
                                </li>
                            </th:block>
                            <li class="page-item disabled" th:if="${crpage == totalpage}">
                                <a class="page-link" th:href="@{/admin/voucher/page(pageno=${crpage+1})}" tabindex="-1"
                                    aria-disabled="true"><i class="fas fa-chevron-right fa-sm"></i></a>
                            </li>
                            <li class="page-item" th:unless="${crpage == totalpage}">
                                <a class="page-link" th:href="@{/admin/voucher/page(pageno=${crpage+1})}"><i
                                        class="fas fa-chevron-right fa-sm"></i></a>
                            </li>
                        </ul>
                    </nav><!-- End Centered Pagination -->
                </div>
                <form action="#" class="mx-2" th:action="@{/admin/voucher/getcountrow}" method="get" id="rowCountForm">
                    Number of rows
                    <select name="selectedValue" class="border-0 px-2"
                        onchange="document.getElementById('rowCountForm').submit();">
                        <option value="10" th:selected="${rowcount == 10}">10</option>
                        <option value="20" th:selected="${rowcount == 20}">20</option>
                        <option value="50" th:selected="${rowcount == 50}">50</option>
                    </select>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
