<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Account Form</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Account Voucher Form</li>
          </ol>
      </nav>
  </div><!-- End Page Title -->
    <div class="container">
      <a href="" class="btn btn-primary">Back</a>
      <!-- Form to store new cuahang -->
      <form enctype="multipart/form-data" th:action="@{/manager/chitietsanpham/store}" th:object="${chitietsanpham}"
        method="post" class="form">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
          <label for="sanPham">Sản Phẩm:</label>
          <select class="form-control" th:field="*{sanPham}">
            <option value="">Chọn SanPham</option>
            <option th:each="sp : ${sanPhams}" th:value="${{sp}}" th:text="${sp.ten}">
            </option>
          </select>
          <div th:if="${#fields.hasErrors('sanPham')}" class="errors text-danger form-text" th:errors="*{sanPham}">
          </div>
        </div>

        <div class="form-group">
          <label for="nsx">Nhà Sản Xuất:</label>
          <select class="form-control" th:field="*{nsx}">
            <option value="">Chọn Nhà Sản Xuất</option>
            <option th:each="nsx : ${nsxs}" th:value="${{nsx}}" th:text="${nsx.ten}">
            </option>
          </select>
          <div th:if="${#fields.hasErrors('nsx')}" class="errors text-danger form-text" th:errors="*{nsx}">
          </div>
        </div>

        <div class="form-group">
          <label for="mauSac">Màu Sắc:</label>
          <select class="form-control" th:field="*{mauSac}">
            <option value="">Chọn Màu Sắc</option>
            <option th:each="mauSac : ${mauSacs}" th:value="${{mauSac}}" th:text="${mauSac.ten}">
            </option>
          </select>

          <div th:if="${#fields.hasErrors('mauSac')}" class="errors text-danger form-text" th:errors="*{mauSac}">
          </div>
        </div>

        <div class="form-group">
          <label for="dongSP">Dòng Sản Phẩm:</label>
          <select class="form-control" th:field="*{dongSP}">
            <option value="">Chọn Dòng Sản Phẩm</option>
            <option th:each="dongSP : ${dongSPs}" th:value="${{dongSP}}" th:text="${dongSP.ten}">
            </option>
          </select>
          <div th:if="${#fields.hasErrors('dongSP')}" class="errors text-danger form-text" th:errors="*{dongSP}">
          </div>
        </div>

        <div class="form-group">
          <label for="namBH">Năm Bảo Hành:</label>
          <input type="number" class="form-control" id="namBH" th:field="*{namBH}" />
          <div th:if="${#fields.hasErrors('namBH')}" class="errors text-danger form-text" th:errors="*{namBH}">
          </div>
        </div>

        <div class="form-group">
          <label for="soLuongTon">Số Lượng Tồn:</label>
          <input type="number" class="form-control" id="soLuongTon" th:field="*{soLuongTon}" />
          <div th:if="${#fields.hasErrors('soLuongTon')}" class="errors text-danger form-text"
            th:errors="*{soLuongTon}"></div>
        </div>

        <div class="form-group">
          <label for="giaNhap">Giá Nhập:</label>
          <input type="number" step="0.01" class="form-control" id="giaNhap" th:field="*{giaNhap}" />
          <div th:if="${#fields.hasErrors('giaNhap')}" class="errors text-danger form-text" th:errors="*{giaNhap}">
          </div>
        </div>

        <div class="form-group">
          <label for="giaBan">Giá Bán:</label>
          <input type="number" step="0.01" class="form-control" id="giaBan" th:field="*{giaBan}" />
          <div th:if="${#fields.hasErrors('giaBan')}" class="errors text-danger form-text" th:errors="*{giaBan}">
          </div>
        </div>
        <div class="form-group">
          <input type="file" name="imageFile" id="imageFile" required />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
  </section>
</body>

</html>
