USE [master]
GO
/****** Object:  Database [DUANTN]    Script Date: 11/19/2023 2:01:06 AM ******/
CREATE DATABASE [DUANTN]
GO
USE [DUANTN]
GO
/****** Object:  Table [dbo].[account]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NULL,
	[status] [int] NULL,
	[id_customer] [uniqueidentifier] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[password] [nvarchar](200) NULL,
	[image] [nvarchar](max) NULL,
	[actived] [bit] NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_customer] [uniqueidentifier] NOT NULL,
	[id_employee] [uniqueidentifier] NOT NULL,
	[id_pay] [bigint] NOT NULL,
	[code] [nvarchar](50) NULL,
	[confirmation_date] [datetime] NULL,
	[delivery_date] [datetime] NULL,
	[received_date] [datetime] NULL,
	[completion_date] [datetime] NULL,
	[customer_name] [nvarchar](50) NULL,
	[phone] [nvarchar](11) NULL,
	[address] [nvarchar](255) NULL,
	[money_ship] [float] NULL,
	[total_money] [decimal](20, 3) NULL,
	[reduction_amount] [decimal](20, 3) NULL,
	[deposit] [decimal](20, 3) NULL,
	[note] [nvarchar](max) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[order_type] [int] NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_product_detail] [bigint] NOT NULL,
	[id_bill] [bigint] NOT NULL,
	[total_money] [decimal](20, 3) NULL,
	[quantity] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_bill_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_trademark] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[id_customer] [uniqueidentifier] NOT NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts_detail]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts_detail](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[quantity] [int] NULL,
	[id_cart] [bigint] NOT NULL,
	[id_product_detail] [bigint] NOT NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[price] [decimal](20, 3) NULL,
 CONSTRAINT [PK_carts_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_color] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[birth_date] [datetime] NULL,
	[gender] [bit] NULL,
	[phone] [nvarchar](11) NULL,
	[address] [nvarchar](100) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[wardcode] [nvarchar](20) NULL,
	[districtcode] [int] NULL,
	[fulladdress] [nvarchar](255) NULL,
	[actived] [bit] NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [uniqueidentifier] NOT NULL,
	[id_roles] [bigint] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[birth_date] [datetime] NULL,
	[address] [nvarchar](100) NULL,
	[phone] [nvarchar](11) NULL,
	[email] [nchar](25) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[cccd] [nvarchar](50) NULL,
	[image] [nvarchar](max) NULL,
	[password] [nvarchar](200) NULL,
	[wardcode] [nvarchar](20) NULL,
	[districtcode] [int] NULL,
	[fulladdress] [nvarchar](255) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluate]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluate](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_product_detail] [bigint] NOT NULL,
	[id_customer] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NULL,
	[start_time] [datetime] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_product_detail] [bigint] NOT NULL,
	[image] [nvarchar](max) NULL,
	[discription] [nvarchar](max) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_product]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_product](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_product] [bigint] NULL,
	[image] [nvarchar](max) NULL,
	[discription] [nvarchar](max) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_image_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origin]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origin](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_origin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pattern]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pattern](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_Pattern_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pay]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pay](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_pay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pay_detail]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pay_detail](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_bill] [bigint] NULL,
	[id_pay] [bigint] NULL,
	[total_money] [decimal](20, 3) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_pay_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[price] [decimal](20, 3) NULL,
	[quantity] [int] NULL,
	[description] [nvarchar](max) NULL,
	[id_pattern] [bigint] NULL,
	[id_color] [bigint] NULL,
	[id_origin] [bigint] NULL,
	[id_brand] [bigint] NULL,
	[id_material] [bigint] NULL,
	[id_size] [bigint] NULL,
	[id_styles] [bigint] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[id_product] [bigint] NULL,
	[id_category] [bigint] NULL,
 CONSTRAINT [PK_product_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_side] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[styles]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[styles](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_styles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vertify_email]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vertify_email](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[code] [int] NULL,
	[request_at] [datetime] NULL,
	[email] [nvarchar](255) NULL,
 CONSTRAINT [PK_vertify_email] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[quantily] [int] NULL,
	[discount] [float] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[types] [bit] NULL,
	[deleted] [bit] NULL,
	[max_discount] [float] NULL,
	[min_order] [float] NULL,
 CONSTRAINT [PK_voucher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_detail]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_detail](
	[id] [bigint] IDENTITY(0,1) NOT NULL,
	[id_bill] [bigint] NOT NULL,
	[id_voucher] [bigint] NOT NULL,
	[money_before_reduction] [decimal](20, 3) NULL,
	[money_after_reduction] [decimal](20, 3) NULL,
	[money_reduction] [decimal](20, 3) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_voucher_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([id], [email], [status], [id_customer], [created_at], [updated_at], [deleted], [password], [image], [actived]) VALUES (N'2c2282a8-2c64-4a62-a571-0a0917957c75', N'quynhanh@gmail.com', 1, N'ae9884e4-0e44-47c2-b356-abb655117c71', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'0000', NULL, 0)
INSERT [dbo].[account] ([id], [email], [status], [id_customer], [created_at], [updated_at], [deleted], [password], [image], [actived]) VALUES (N'72959072-ccc6-4f72-b083-24567aec4ebe', N'ha@gmail.com', 1, N'7e073e67-0c6b-4010-8ae0-c9688218857e', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'0000', NULL, 0)
INSERT [dbo].[account] ([id], [email], [status], [id_customer], [created_at], [updated_at], [deleted], [password], [image], [actived]) VALUES (N'7285de1f-65b9-44e7-8142-9069ae4eb367', N'that@gmail.com', 1, N'03bef975-baa5-43ad-ab1f-e4826eb049d6', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'0000', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (0, N'BR2', N'Burberry', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[brand] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (1, N'BR3', N'Jussy', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[brand] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (2, N'BR4', N'HUMI', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (1, N'CA2', N'Khăn choàng thu đông', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[category] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (2, N'CA3', N'Khăn choàng che nắng', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[category] ([id], [code], [name], [created_at], [updated_at], [status], [deleted]) VALUES (3, N'CA4', N'Khăn choàng đi biển', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'CL2', N'Đen', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[color] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'CL3', N'Đỏ', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[color] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (3, N'CL4', N'Hồng', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[color] OFF
GO
INSERT [dbo].[customer] ([id], [code], [name], [birth_date], [gender], [phone], [address], [status], [created_at], [update_at], [deleted], [wardcode], [districtcode], [fulladdress], [actived]) VALUES (N'64ac93b6-a093-4f7a-84ff-050e5773385a', N'CE2', N'Hương', CAST(N'2003-08-16T00:00:00.000' AS DateTime), 1, N'0973554745', N'An Thái', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'13010', 3440, N'Phường Xuân Phương, Quận Nam Từ Liêm, TP.Hà Nội', 0)
INSERT [dbo].[customer] ([id], [code], [name], [birth_date], [gender], [phone], [address], [status], [created_at], [update_at], [deleted], [wardcode], [districtcode], [fulladdress], [actived]) VALUES (N'79a3a3c5-4e10-46a3-855a-080aee7fb16d', N'CE3', N'Thanh', CAST(N'2003-08-16T00:00:00.000' AS DateTime), 1, N'0987654321', N'An Thái', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'13010', 3440, N'Phường Xuân Phương, Quận Nam Từ Liêm, TP.Hà Nội', 0)
INSERT [dbo].[customer] ([id], [code], [name], [birth_date], [gender], [phone], [address], [status], [created_at], [update_at], [deleted], [wardcode], [districtcode], [fulladdress], [actived]) VALUES (N'e1211807-d831-4b42-b62f-09ff2f9397a9', N'CE4', N'Mai', CAST(N'2003-08-16T00:00:00.000' AS DateTime), 1, N'0975123456', N'An Thái', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'13010', 3440, N'Phường Xuân Phương, Quận Nam Từ Liêm, TP.Hà Nội', 0)
GO
SET IDENTITY_INSERT [dbo].[material] ON 

INSERT [dbo].[material] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (0, N'ML2', N'Thổ Cẩm', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[material] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'ML3', N'Lụa', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[material] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'ML4', N'Nhung', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[material] OFF
GO
SET IDENTITY_INSERT [dbo].[origin] ON 

INSERT [dbo].[origin] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (0, N'ON2', N'Trung Quốc', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[origin] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'ON3', N'Hàn Quốc', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[origin] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'ON4', N'Anh Quốc', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[origin] OFF
GO
SET IDENTITY_INSERT [dbo].[pattern] ON 

INSERT [dbo].[pattern] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (0, N'PN2', N'Trơn', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[pattern] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'PN3', N'In hoa', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[pattern] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'PN4', N'Kẻ sọc', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[pattern] OFF
GO
SET IDENTITY_INSERT [dbo].[pay] ON 

INSERT [dbo].[pay] ([id], [payment_method], [status], [created_at], [update_at], [deleted]) VALUES (1, N'Tiền mặt', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[pay] ([id], [payment_method], [status], [created_at], [update_at], [deleted]) VALUES (2, N'Chuyển khoản', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[pay] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [name], [status], [created_at], [updated_at], [deleted]) VALUES (0, N'PD2', N'Khăn quàng cổ Skinny ', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[product] ([id], [code], [name], [status], [created_at], [updated_at], [deleted]) VALUES (1, N'PD3', N'Khăn quàng cổ Mohair', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[product] ([id], [code], [name], [status], [created_at], [updated_at], [deleted]) VALUES (2, N'PD4', N'Khăn quàng cổ cashmere kẻ sọc rộng', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [status], [created_at], [update_at], [deleted], [role]) VALUES (0, N'STAFF', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'Nhân Viên')
INSERT [dbo].[roles] ([id], [name], [status], [created_at], [update_at], [deleted], [role]) VALUES (1, N'ADMIN', 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, N'Quản Lý')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (0, N'SZ2', N'90*180cm', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[size] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'SZ3', N'130*180cm', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[size] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'SZ4', N'72*188cm', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[styles] ON 

INSERT [dbo].[styles] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (0, N'STY2', N'Bohemian', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[styles] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (1, N'STY3', N'Chic', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[styles] ([id], [code], [name], [created_at], [update_at], [status], [deleted]) VALUES (2, N'STY4', N'Minimalism', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[styles] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([id], [code], [name], [start_time], [end_time], [quantily], [discount], [status], [created_at], [update_at], [types], [deleted], [max_discount], [min_order]) VALUES (1, N'T11N2023PERHKSN', N'Giảm giá 10% mặt hàng thời trang', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-12-08T00:00:00.000' AS DateTime), 5, 40000, 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0, 60000, 400000)
INSERT [dbo].[voucher] ([id], [code], [name], [start_time], [end_time], [quantily], [discount], [status], [created_at], [update_at], [types], [deleted], [max_discount], [min_order]) VALUES (2, N'T11N2023PERJFLG', N'Giảm giá 5% mặt hàng thời trang', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-12-08T00:00:00.000' AS DateTime), 5, 10000, 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 1, 0, 50000, 200000)
INSERT [dbo].[voucher] ([id], [code], [name], [start_time], [end_time], [quantily], [discount], [status], [created_at], [update_at], [types], [deleted], [max_discount], [min_order]) VALUES (3, N'T11N2023CASHNRHM', N'Giảm giá Freeship', CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-12-08T00:00:00.000' AS DateTime), 5, 30000, 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0, 0, 30000, 30000)
SET IDENTITY_INSERT [dbo].[voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher_detail] ON 

INSERT [dbo].[voucher_detail] ([id], [id_bill], [id_voucher], [money_before_reduction], [money_after_reduction], [money_reduction], [status], [created_at], [update_at], [deleted]) VALUES (0, 6, 3, CAST(430000.000 AS Decimal(20, 3)), CAST(400000.000 AS Decimal(20, 3)), CAST(30000.000 AS Decimal(20, 3)), 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[voucher_detail] ([id], [id_bill], [id_voucher], [money_before_reduction], [money_after_reduction], [money_reduction], [status], [created_at], [update_at], [deleted]) VALUES (1, 7, 3, CAST(230000.000 AS Decimal(20, 3)), CAST(200000.000 AS Decimal(20, 3)), CAST(30000.000 AS Decimal(20, 3)), 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[voucher_detail] ([id], [id_bill], [id_voucher], [money_before_reduction], [money_after_reduction], [money_reduction], [status], [created_at], [update_at], [deleted]) VALUES (2, 9, 3, CAST(480000.000 AS Decimal(20, 3)), CAST(450000.000 AS Decimal(20, 3)), CAST(30000.000 AS Decimal(20, 3)), 1, CAST(N'2023-11-08T00:00:00.000' AS DateTime), CAST(N'2023-11-08T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[voucher_detail] OFF
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_Account_actived]  DEFAULT ((0)) FOR [actived]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0.00)) FOR [total_money]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0.00)) FOR [reduction_amount]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0.00)) FOR [deposit]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [order_type]
GO
ALTER TABLE [dbo].[bill_detail] ADD  DEFAULT ((0.00)) FOR [total_money]
GO
ALTER TABLE [dbo].[bill_detail] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[bill_detail] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[bill_detail] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[brand] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[brand] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[carts_detail] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[carts_detail] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[carts_detail] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[carts_detail] ADD  DEFAULT ((0.00)) FOR [price]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[color] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[color] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((-1)) FOR [districtcode]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [actived]
GO
ALTER TABLE [dbo].[employee] ADD  CONSTRAINT [DF_staff_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((-1)) FOR [districtcode]
GO
ALTER TABLE [dbo].[evaluate] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[image] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[image] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[material] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[material] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[origin] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[origin] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[pattern] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pattern] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[pay] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[pay] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[pay_detail] ADD  DEFAULT ((0.00)) FOR [total_money]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0.00)) FOR [price]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[styles] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[styles] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [quantily]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [types]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [max_discount]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [min_order]
GO
ALTER TABLE [dbo].[voucher_detail] ADD  DEFAULT ((0.00)) FOR [money_before_reduction]
GO
ALTER TABLE [dbo].[voucher_detail] ADD  DEFAULT ((0.00)) FOR [money_after_reduction]
GO
ALTER TABLE [dbo].[voucher_detail] ADD  DEFAULT ((0.00)) FOR [money_reduction]
GO
ALTER TABLE [dbo].[voucher_detail] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[voucher_detail] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[account]  WITH NOCHECK ADD  CONSTRAINT [FK_account_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_customer]
GO
ALTER TABLE [dbo].[bill]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_customer]
GO
ALTER TABLE [dbo].[bill]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_employee] FOREIGN KEY([id_employee])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_employee]
GO
ALTER TABLE [dbo].[bill]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_pay] FOREIGN KEY([id_pay])
REFERENCES [dbo].[pay] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_pay]
GO
ALTER TABLE [dbo].[bill_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_detail_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_bill]
GO
ALTER TABLE [dbo].[bill_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_detail_product_detail] FOREIGN KEY([id_product_detail])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_product_detail]
GO
ALTER TABLE [dbo].[cart]  WITH NOCHECK ADD  CONSTRAINT [FK_cart_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_customer]
GO
ALTER TABLE [dbo].[carts_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_carts_detail_cart] FOREIGN KEY([id_cart])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[carts_detail] CHECK CONSTRAINT [FK_carts_detail_cart]
GO
ALTER TABLE [dbo].[carts_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_carts_detail_product_detail] FOREIGN KEY([id_product_detail])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[carts_detail] CHECK CONSTRAINT [FK_carts_detail_product_detail]
GO
ALTER TABLE [dbo].[employee]  WITH NOCHECK ADD  CONSTRAINT [FK_employee_roles] FOREIGN KEY([id_roles])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_roles]
GO
ALTER TABLE [dbo].[evaluate]  WITH NOCHECK ADD  CONSTRAINT [FK_evaluate_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[evaluate] CHECK CONSTRAINT [FK_evaluate_customer]
GO
ALTER TABLE [dbo].[evaluate]  WITH NOCHECK ADD  CONSTRAINT [FK_evaluate_product_detail] FOREIGN KEY([id_product_detail])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[evaluate] CHECK CONSTRAINT [FK_evaluate_product_detail]
GO
ALTER TABLE [dbo].[image]  WITH NOCHECK ADD  CONSTRAINT [FK_image_product_detail] FOREIGN KEY([id_product_detail])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_product_detail]
GO
ALTER TABLE [dbo].[image_product]  WITH CHECK ADD  CONSTRAINT [FK_image_product_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[image_product] CHECK CONSTRAINT [FK_image_product_product]
GO
ALTER TABLE [dbo].[pay_detail]  WITH CHECK ADD  CONSTRAINT [FK_pay_detail_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[pay_detail] CHECK CONSTRAINT [FK_pay_detail_bill]
GO
ALTER TABLE [dbo].[pay_detail]  WITH CHECK ADD  CONSTRAINT [FK_pay_detail_pay] FOREIGN KEY([id_pay])
REFERENCES [dbo].[pay] ([id])
GO
ALTER TABLE [dbo].[pay_detail] CHECK CONSTRAINT [FK_pay_detail_pay]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_brand] FOREIGN KEY([id_brand])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_brand]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_color] FOREIGN KEY([id_color])
REFERENCES [dbo].[color] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_color]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_material] FOREIGN KEY([id_material])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_material]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_origin] FOREIGN KEY([id_origin])
REFERENCES [dbo].[origin] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_origin]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_pattern] FOREIGN KEY([id_pattern])
REFERENCES [dbo].[pattern] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_pattern]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_product]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_size] FOREIGN KEY([id_size])
REFERENCES [dbo].[size] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_size]
GO
ALTER TABLE [dbo].[product_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_product_detail_styles] FOREIGN KEY([id_styles])
REFERENCES [dbo].[styles] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_styles]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_ProductDetail_Category]
GO
ALTER TABLE [dbo].[voucher_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_voucher_detail_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[voucher_detail] CHECK CONSTRAINT [FK_voucher_detail_bill]
GO
ALTER TABLE [dbo].[voucher_detail]  WITH NOCHECK ADD  CONSTRAINT [FK_voucher_detail_voucher] FOREIGN KEY([id_voucher])
REFERENCES [dbo].[voucher] ([id])
GO
ALTER TABLE [dbo].[voucher_detail] CHECK CONSTRAINT [FK_voucher_detail_voucher]
GO
/****** Object:  Trigger [dbo].[tr_SetBillCode]    Script Date: 11/19/2023 2:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_SetBillCode]
ON [dbo].[bill]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'B';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM dbo.bill;

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM dbo.bill b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[bill] ENABLE TRIGGER [tr_SetBillCode]
GO
/****** Object:  Trigger [dbo].[trg_generate_brand_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_brand_code]
ON [dbo].[brand]
AFTER INSERT
AS
BEGIN
 SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'BR';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[brand];

    -- Increment the code number for each new inserted row
    UPDATE br
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[brand] br
    INNER JOIN inserted i ON br.id = i.id;
END;
GO
ALTER TABLE [dbo].[brand] ENABLE TRIGGER [trg_generate_brand_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_cart_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_cart_code]
ON [dbo].[cart]
INSTEAD OF INSERT
AS
BEGIN
 SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(1) = 'C';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[cart];

    -- Increment the code number for each new inserted row
    UPDATE c
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[cart] c
    INNER JOIN inserted i ON c.id = i.id;
END;
GO
ALTER TABLE [dbo].[cart] ENABLE TRIGGER [trg_generate_cart_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_category_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_category_code]
ON [dbo].[category]
AFTER INSERT
AS
BEGIN
 SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'CA';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[category];

    -- Increment the code number for each new inserted row
    UPDATE ca
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[category] ca
    INNER JOIN inserted i ON ca.id = i.id;
END;
GO
ALTER TABLE [dbo].[category] ENABLE TRIGGER [trg_generate_category_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_color_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_color_code]
ON [dbo].[color]
AFTER INSERT
AS
BEGIN
SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'CL';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[color];

    -- Increment the code number for each new inserted row
    UPDATE cl
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[color] cl
    INNER JOIN inserted i ON cl.id = i.id;
END;
GO
ALTER TABLE [dbo].[color] ENABLE TRIGGER [trg_generate_color_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_customer_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_customer_code]
ON [dbo].[customer]
AFTER INSERT
AS
BEGIN
  SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'CE';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[customer];

    -- Increment the code number for each new inserted row
    UPDATE ce
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[customer] ce
    INNER JOIN inserted i ON ce.id = i.id;
END;
GO
ALTER TABLE [dbo].[customer] ENABLE TRIGGER [trg_generate_customer_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_employee_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_employee_code]
ON [dbo].[employee]
AFTER INSERT
AS
BEGIN
 SET NOCOUNT ON;

    DECLARE @Prefix NVARCHAR(2) = 'EM';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[employee];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[employee] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[employee] ENABLE TRIGGER [trg_generate_employee_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_material_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_material_code]
ON [dbo].[material]
AFTER INSERT
AS
BEGIN
  
    DECLARE @Prefix NVARCHAR(2) = 'ML';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[material];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[material] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[material] ENABLE TRIGGER [trg_generate_material_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_origin_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_origin_code]
ON [dbo].[origin]
AFTER INSERT
AS
BEGIN
 
    DECLARE @Prefix NVARCHAR(2) = 'ON';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[origin];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[origin] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[origin] ENABLE TRIGGER [trg_generate_origin_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_pattern_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_pattern_code]
ON [dbo].[pattern]
AFTER INSERT
AS
BEGIN
 
    DECLARE @Prefix NVARCHAR(2) = 'PN';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[pattern];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[pattern] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[pattern] ENABLE TRIGGER [trg_generate_pattern_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_product_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_product_code]
ON [dbo].[product]
AFTER INSERT
AS
BEGIN
  
    DECLARE @Prefix NVARCHAR(2) = 'PD';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[product];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[product] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[product] ENABLE TRIGGER [trg_generate_product_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_productdetail_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_productdetail_code]
ON [dbo].[product_detail]
INSTEAD OF INSERT
AS
BEGIN
   
    DECLARE @Prefix NVARCHAR(3) = 'PDD';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[product_detail];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[product_detail] b
    INNER JOIN inserted i ON b.id = i.id;
END;

GO
ALTER TABLE [dbo].[product_detail] ENABLE TRIGGER [trg_generate_productdetail_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_size_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_size_code]
ON [dbo].[size]
AFTER INSERT
AS
BEGIN
    DECLARE @Prefix NVARCHAR(2) = 'SZ';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[size];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[size] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[size] ENABLE TRIGGER [trg_generate_size_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_style_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_generate_style_code]
ON [dbo].[styles]
AFTER INSERT
AS
BEGIN
   DECLARE @Prefix NVARCHAR(3) = 'STY';
    DECLARE @CodeNumber INT;

    -- Get the maximum existing code number
    SELECT @CodeNumber = ISNULL(MAX(CAST(SUBSTRING(code, LEN(@Prefix) + 1, LEN(code)) AS INT)), 0)
    FROM [dbo].[styles];

    -- Increment the code number for each new inserted row
    UPDATE b
    SET code = @Prefix + RIGHT( CAST(@CodeNumber + 1 AS NVARCHAR(10)), 10)
    FROM [dbo].[styles] b
    INNER JOIN inserted i ON b.id = i.id;
END;
GO
ALTER TABLE [dbo].[styles] ENABLE TRIGGER [trg_generate_style_code]
GO
/****** Object:  Trigger [dbo].[trg_generate_voucher_code]    Script Date: 11/19/2023 2:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger
create TRIGGER [dbo].[trg_generate_voucher_code]
ON [dbo].[voucher]
AFTER INSERT
AS
BEGIN
    DECLARE @InsertedID INT
    SELECT @InsertedID = id FROM inserted
    DECLARE @GeneratedCode NVARCHAR(50)
    DECLARE @Month INT
    DECLARE @Year INT
    DECLARE @RandomChars NVARCHAR(4)
    -- Lấy tháng và năm tạo
    SELECT @Month = MONTH(created_at), @Year = YEAR(created_at) FROM dbo.voucher WHERE id = @InsertedID
    -- Tạo ngẫu nhiên 4 ký tự
    SET @RandomChars = CHAR(65 + CAST(RAND() * 26 AS INT)) +
                       CHAR(65 + CAST(RAND() * 26 AS INT)) +
                       CHAR(65 + CAST(RAND() * 26 AS INT)) +
                       CHAR(65 + CAST(RAND() * 26 AS INT))
    -- Tạo mã voucher dựa trên giá trị types
    SELECT @GeneratedCode = 'T' + CAST(@Month AS NVARCHAR) + 'N' + CAST(@Year AS NVARCHAR) +
        CASE 
            WHEN (SELECT types FROM dbo.voucher WHERE id = @InsertedID) = 1 THEN 'PER' + @RandomChars
            ELSE 'CASH' + @RandomChars
        END
    -- Cập nhật mã voucher vào bản ghi mới được chèn
    UPDATE dbo.voucher
    SET code = @GeneratedCode
    WHERE id = @InsertedID
END

GO
ALTER TABLE [dbo].[voucher] ENABLE TRIGGER [trg_generate_voucher_code]
GO
USE [master]
GO
