<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{user/layout_user2}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khăn choàng</title>
</head>

<body layout:fragment="content">
    <section>
        <div class="breacrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text product-more">
                            <a href="/home"><i class="fa fa-home"></i> Trang chủ</a>
                            <a href="/shop/product/index">Sản phẩm</a>
                            <span th:text="${product.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Begin -->
        <!-- Product Shop Section Begin -->
        <section class="product-shop spad page-details pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 px-5" th:unless="${product.getAllImage().isEmpty()}">
                        <div class="product-pic text-center mb-3">
                            <img th:src="${product.getAllImage().get(0)}" alt="Ảnh sản phẩm" />
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                        style="transform: translate3d(-233px, 0px, 0px); transition: all 0s ease 0s; width: 934px;display: flex;">
                                        <div th:each="image,loop : ${product.getAllImage()}">
                                            <div class="owl-item" style="width: 111,6665px; margin-right: 0.5px;">
                                                <div class="pt">
                                                    <img class="p-1 image-fluid w-100" th:src="${image}"
                                                        id="product_image${loop.index}" alt="ảnh sản phẩm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <button type="button" role="presentation" class="owl-prev">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button type="button" role="presentation" class="owl-next disabled">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                                <div class="owl-dots disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4">
                        <div class="product-details">
                            <div class="pd-title mb-3">
                                <h2 class="font-weight-bold" th:text="${product.name}"></h2>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="pd-share mb-3">
                                        <div class="p-code"><strong>Mã sản phẩm : </strong><span
                                                th:text="${product.code}"></span>
                                        </div>
                                    </div>
                                    <div class="pd-share mb-3" th:if="${product.idOrigin}">
                                        <div class="p-code"><strong>Xuất sứ : </strong><span
                                                th:text="${product.idOrigin.name}"></span>
                                        </div>
                                    </div>
                                    <div class="pd-share mb-3" th:if="${product.idBrand}">
                                        <div class="p-code"><strong> Thương hiệu :</strong> <span
                                                th:text="${product.idBrand.name}"></span>
                                        </div>
                                    </div>
                                    <div class="pd-share mb-3" th:if="${product.idMaterial}">
                                        <div class="p-code"><strong>Chất liệu : </strong><span
                                                th:text="${product.idMaterial.name}"></span>
                                        </div>
                                    </div>
                                    <div class="pd-share mb-3" th:if="${product.idStyles}">
                                        <div class="p-code"><strong>Kiểu dáng : </strong><span
                                                th:text="${product.idStyles.name}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div th:each="productdetailincolor : ${product.getListOptionProduct()}">
                                        <div class="font-weight-bold"
                                            th:text="${productdetailincolor.get(0).idPattern.name}">
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            <div th:each="pddt : ${productdetailincolor}">
                                                <button type="button" class="btn btn-outline-secondary mx-2 mb-1"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#productdetailModal'+ ${pddt.id}"
                                                    th:text="${pddt.getIdSize().getName()}">
                                                </button>
                                                <div class="modal fade" th:id="'productdetailModal' + ${pddt.id}">
                                                    <div th:if="${pddt.imageProducts.size() > 0}"
                                                        class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="productdetailModalLabel"
                                                                    th:text="${pddt.idProduct?.name}"></h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="product-pic text-center mb-3">
                                                                            <img th:src="${pddt.imageProducts[0]?.img}"
                                                                                alt="Ảnh sản phẩm" />
                                                                        </div>
                                                                        <div class="product-thumbs">
                                                                            <div
                                                                                class="product-thumbs-track ps-slider owl-carousel owl-loaded owl-drag">
                                                                                <div class="owl-stage-outer">
                                                                                    <div class="owl-stage"
                                                                                        style="transform: translate3d(-233px, 0px, 0px); transition: all 0s ease 0s; width: 934px;display: flex;">
                                                                                        <div
                                                                                            th:each="image,loop : ${pddt.imageProducts}">
                                                                                            <div class="owl-item"
                                                                                                style="width: 111,6665px; margin-right: 0.5px;">
                                                                                                <div class="pt">
                                                                                                    <img class="p-1 image-fluid w-100"
                                                                                                        th:src="${image}"
                                                                                                        id="product_image${loop.index}"
                                                                                                        alt="ảnh sản phẩm">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="owl-nav">
                                                                                    <button type="button"
                                                                                        role="presentation"
                                                                                        class="owl-prev">
                                                                                        <i class="fa fa-angle-left"></i>
                                                                                    </button>
                                                                                    <button type="button"
                                                                                        role="presentation"
                                                                                        class="owl-next disabled">
                                                                                        <i
                                                                                            class="fa fa-angle-right"></i>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="owl-dots disabled">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <p><strong>Giá :</strong>
                                                                            <span
                                                                                th:text="${#strings.replace(#numbers.formatDecimal(pddt.price, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                                                                            </span>
                                                                        </p>
                                                                        </p>
                                                                        <p><strong>Số lượng :</strong>
                                                                            <span th:text="${pddt.quantity}"></span>
                                                                        </p>
                                                                        <p><strong>Kích thước :</strong>
                                                                            <span th:text="${pddt.idSize?.name}"></span>
                                                                        </p>
                                                                        <p><strong>Mô tả :</strong>
                                                                            <span th:text="${pddt.description}"></span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form class="quantity" onsubmit="addtoCart(event)">
                                                                    <input type="hidden" name="idproduct"
                                                                        th:value="${pddt.id}">
                                                                    <div class="pro-qty">
                                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                            <span class="dec qtybtn"
                                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                                                -
                                                                            </span>
                                                                            <input min="1" name="quantity" value="1"
                                                                                th:max="${pddt.quantity}" type="number"
                                                                                th:onchange="'checkQuantity('+${pddt.id}+')'" />
                                                                            <span class="inc qtybtn"
                                                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                                                +
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn mx-2 primary-btn pd-cart"><i
                                                                            class="fa-solid fa-cart-shopping"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div th:unless="${pddt.imageProducts.size() > 0}"
                                                        class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="productdetailModalLabel"
                                                                    th:text="${pddt.idProduct?.name}"></h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><strong>Giá :</strong>
                                                                    <span
                                                                        th:text="${#strings.replace(#numbers.formatDecimal(pddt.price, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                                                                    </span>
                                                                </p>
                                                                </p>
                                                                <p><strong>Số lượng :</strong>
                                                                    <span th:text="${pddt.quantity}"></span>
                                                                </p>
                                                                <p><strong>Kích thước :</strong>
                                                                    <span th:text="${pddt.idSize?.name}"></span>
                                                                </p>
                                                                <p><strong>Mô tả :</strong>
                                                                    <span th:text="${pddt.description}"></span>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form class="quantity" onsubmit="addtoCart(event)">
                                                                    <input type="hidden" name="idproduct"
                                                                        th:value="${pddt.id}">
                                                                    <div class="pro-qty">
                                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                            <span class="dec qtybtn"
                                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                                                -
                                                                            </span>
                                                                            <input min="1" name="quantity" value="1"
                                                                                th:max="${pddt.quantity}" type="number"
                                                                                th:onchange="'checkQuantity('+${pddt.id}+')'" />
                                                                            <span class="inc qtybtn"
                                                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                                                +
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn mx-2 primary-btn pd-cart"><i
                                                                            class="fa-solid fa-cart-shopping"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script>
        function setMessage(errorElement,message) {
            errorElement.classList.add("d-invalid-message");
            errorElement.innerHTML = message;
            setTimeout(() => {
                errorElement.innerHTML = "";
                errorElement.classList.remove("d-invalid-message");
            },3000);
        }
        function resetMessage(errorElement) {
            errorElement.classList.remove("d-invalid-message");
            errorElement.innerHTML = "";
            errorElement.style.display = "none";
        }
        function checkQuantity(id) {
            console.log(id);
        }

        function addtoCart(event) {
            event.preventDefault();
            const form = event.target;
            const id = form.querySelector("input[name='idproduct']").value;
            const quantity = form.querySelector("input[name='quantity']").value;
            axios.post(`/test/api/cart/add/${id}?quantity=${quantity}`)
                .then(response => {
                    console.log('Item added to cart:',response.data);
                    new Notify({
                        status: 'success',
                        title: 'Thêm vào cart thành công',
                        text: 'Đã thêm sản phẩm',
                        effect: 'fade',
                        speed: 300,
                        customClass: '',
                        customIcon: '',
                        showIcon: true,
                        showCloseButton: false,
                        autoclose: true,
                        autotimeout: 3000,
                        gap: 20,
                        distance: 20,
                        type: 1,
                        position: 'right top',
                        customWrapper: '',
                    })
                })
                .catch(error => {
                    new Notify({
                        status: 'error',
                        title: 'Thêm thất bại',
                        text: 'Đã thêm sản phẩm',
                        effect: 'fade',
                        speed: 300,
                        customClass: '',
                        customIcon: '',
                        showIcon: true,
                        showCloseButton: false,
                        autoclose: true,
                        autotimeout: 3000,
                        gap: 20,
                        distance: 20,
                        type: 1,
                        position: 'right top',
                        customWrapper: '',
                    })
                });
        }
    </script>
</body>

</html>
