<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        .add-dup-parent-fields{
            margin-left: 203px;
        }
        .__remove-field{
            position: relative;
            top: -110px;
            right: -80px;
        }
        #add-dup{
            display: none;
        }
        .upload-area{
            border-radius:3px;
            margin: 0 auto;
            text-align: center;
            overflow: auto;
        }
        .upload-area:hover{
            cursor: pointer;
        }
        .upload-area h4{
            text-align: center;
            font-weight: normal;
            font-family: sans-serif;
            color: darkslategray;
        }
        .user-file{
            display: none;
        }

    </style>
</head>
<body onload="loadCustomer()">
<section layout:fragment="content">
    <div class="pagetitle">
        <h1>Khách hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                <li class="breadcrumb-item active">Customer</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <h1 style="text-align: center">CHỈNH SỬA KHÁCH HÀNG</h1>
    <form th:object="${detail}" th:action="@{/admin/customer/update}" action="#" method="post">
        <input type="hidden" th:field="*{id}">
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label>Tên khách hàng:</label>
            <input type="text" th:field="*{name}" class="form-control" th:value="${detail.name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label>Giới tính:</label>
            <input type="radio" th:name="gender" th:value="false" th:text="Male" th:checked="${detail.gender==false}">
            <input type="radio" th:name="gender" th:value="true" th:text="Female" th:checked="${detail.gender==true}">
        </div>
        <div style="clear: both; display: block; height: 10px"></div>

        <div class="form-inline">
            <div class="form-group">
                <label>Ngày sinh:</label>
                <input type="date" th:name="birth_date" class="form-control" th:value="${detail.birth_date}">
                <div th:if="${#fields.hasErrors('birth_date')}" th:errors="*{birth_date}" class="text-danger">Birth Date
                    error
                </div>
            </div>

            <div class="form-group">
                <label>Số điện thoại:</label>
                <input type="text" th:name="phone" class="form-control" th:value="${detail.phone}">
            </div>
        </div>
        <input type="hidden" id="FullAddress" th:name="fulladdress">
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <select class="form-control" th:name="status">
                <option th:value="1" class="form-control" th:selected="${detail.status==1}">Hoạt động</option>
                <option th:value="0" class="form-control" th:selected="${detail.status==0}">Không hoạt động</option>
            </select>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="btn btn-success" value="Update"/>
    </form>
    <h3 style="text-align: center"><strong>Danh sách địa chỉ khách hàng </strong></h3>
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modelId">
            Thêm mới
        </button>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên địa chỉ</th>
                <th scope="col">Tên người nhận</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="addresss, i :${addresss}">
                <th scope="col" th:text="${i.index+1}"></th>
                <td th:text="${addresss.tenDiaChi}"></td>
                <td th:text="${addresss.tenNguoiNhan}"></td>
                <td th:text="${addresss.sdt_nguoi_nhan}"></td>
                <td>[[${addresss.xa}]],
                    [[${addresss.huyen}]],
                    [[${addresss.thanh_pho}]]
                </td>
                <td th:text="${addresss.trangThai==true?'Mặc định':'Không mặc định'}"></td>
                <td>
                    <a>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#modelId" data-bs-whatever="@getbootstrap"
                                th:onclick="'editAddress()'">Chỉnh sửa
                        </button>

                    </a>
                    <input value="" type="text" hidden th:value="${addresss.id}" id="idcustomer">
                    <a th:href="@{/admin/customer/detail/{id}/delete_address/{id_address}(id=${detail.id},id_address=${addresss.id})}"
                       class="btn btn-danger">
                        Xóa
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:unless="${customer}">
            <p>Không tìm thấy thông tin khách hàng</p>
        </div>
        <!--        Modal save địa chỉ-->
        <div class="modal fade" id="modelId" tabindex="5" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width: 750px;;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Địa chỉ giao hàng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <input hidden="" id="id_customer" value="" th:value="${id_customer}"/>
                            <div class="col-md-12 form-group">
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">
                                    Họ và tên
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <input style="border:1px solid #dd3333" class="form-control" type="text" placeholder="Nguyễn" id="name_customer" value="" oninput="validateAddress()"
                                >
                                <span style="color:#dd3333;font-size: 12px;display: block" id="name_customer_error">Bạn phải nhập tên</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">
                                    Số điện thoại
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <input style="border:1px solid #dd3333" class="form-control" type="text" placeholder="099999999"  value="" oninput="validateAddress()"
                                       id="phone_number_customer">
                                <span style="color:#dd3333;font-size: 12px;display: block" id="phone_number_customer_error">Bạn phải nhập số điện thoại</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">Email<span style="display: inline-block;">*</span></label>
                                <input style="border:1px solid #dd3333" class="form-control" type="text" placeholder="example@email.com"  value=""  oninput="validateAddress()"
                                       id="email_customer">
                                <span style="color:#dd3333;font-size: 12px;display: block" id="email_customer_error">Bạn phải nhập email</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" id="cityCode" value="0" hidden=""/>
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">
                                    Tỉnh/Thành phố
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <select style="border:1px solid #dd3333" class="form-control"  id="city_customer" onchange="getAllDistrictCustomer()">

                                </select>
                                <span style="color:#dd3333;font-size: 12px;display: block" id="city_customer_error">Bạn phải chọn thành phố</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" id="districtCode" value="0" hidden=""/>
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">Quận/huyện
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <select style="border:1px solid #dd3333" class="form-control" id="district_customer" onchange="getFullWardCodeCustomer()">
                                    <option value="" selected>Chọn quận/huyện</option>
                                </select>
                                <span style="color:#dd3333;font-size: 12px;display: block" id="district_customer_error">Bạn phải chọn quận huyện</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" id="wardCode" value="0" hidden=""/>
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">Phường/Xã
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <select style="border:1px solid #dd3333" class="form-control" id="ward_customer" onchange="validateAddress()">
                                    <option value="" selected>Chọn phường/xã</option>
                                </select>
                                <span style="color:#dd3333;font-size: 12px;display: block" id="ward_customer_error">Bạn phải chọn phường/xã</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label style="font-weight: bold!important;font-size: 14px;color: #3D464D">Địa chỉ
                                    <span style="display: inline-block;">*</span>
                                </label>
                                <input style="border:1px solid #dd3333"
                                       value=""
                                       class="form-control" type="text"
                                       placeholder="Đường Cầu Diễn" id="address_customer"
                                       oninput="validateAddress()"
                                >
                                <span style="color:#dd3333;font-size: 12px;display: block" id="address_customer_error">Bạn phải nhập địa chỉ</span>
                            </div>
                            <div style="margin-left: 16px;
                                margin-top: -16px;
                                margin-bottom: 14px;">
                                <input type="checkbox" value="0" id="default_customer"/>
                                Đặt làm mặc định
                            </div>
                            <button class="btn btn-block btn-primary font-weight-bold py-3 "
                                    onclick="addAddress()"
                                    style="     width: 96%;
                                        margin-left: auto;
                                        margin-right: auto;"
                                    id="btn_add_address"
                            >LƯU</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // FAST DELIVERY
        const token = "2b4b5f3e-ac78-11ee-a6e6-e60958111f48";
        const serviceID = 53320;
        const shopDistrictId = 1482;
        const shopWardCode = 11007;
        const selectCity = document.querySelector("#city_address");
        const districtSelect = document.querySelector("#district_address");
        const selectWardCode = document.querySelector("#ward_address");

        const province_code = document.querySelector("#province_code");
        const district_code = document.querySelector("#district_code");
        const ward_code = document.querySelector("#ward_code");

        const selectCityCustomer = document.querySelector("#city_customer");
        const districtSelectCustomer = document.querySelector("#district_customer");
        const selectWardCodeCustomer = document.querySelector("#ward_customer");

        const ERROR_BORDER = '1px solid #dd3333'
        const SUCCESS_BORDER = '1px solid green'

        var LIST_ADDRESS = [];
        const ID_CUSTOMER = document.querySelector("#id_customer").value;
        var ID_ADDRESS = "";


        // FORMAT VND
        function formatToVND(amount) {
            const formatter = new Intl.NumberFormat("vi-VN", {
                style: "currency",
                currency: "VND",
                minimumFractionDigits: 0, // Set to 0 to display whole numbers
            });
            return formatter.format(amount);
        }

        // function
        getAllprovide()

        function getAllprovide() {
            // const thisOrder = document.getElementById(`hoaDon${orderId}`);
            fetch(`https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    token: token,
                },
            })
                .then((res) => res.json())
                .then((data) => {
                    const defaultOption = document.createElement("option");
                    defaultOption.value = -1; // Set the value as needed
                    defaultOption.textContent = "Chọn Tỉnh"; // Set the text content
                    // Set the 'disabled' and 'selected' attributes to make it the default option
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    selectCity.appendChild(defaultOption);
                    const options = data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        // option.value = options[i].ProvinceID; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].ProvinceName; // Set the text of the option
                        option.setAttribute("providecode", options[i].ProvinceID);
                        selectCity.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        function getAllDistrict() {
            const selectedOption = selectCity.options[selectCity.selectedIndex];

            const customAttribute = selectedOption.getAttribute("providecode");
            const provinceid = parseInt(customAttribute);
            const selectDistrict = document.querySelector(` #district_address`);

            province_code.value = provinceid
            axios
                .get(`https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district`, {
                    params: {
                        province_id: provinceid,
                    },
                    headers: {
                        Accept: "application/json",
                        token: token,
                    },

                })
                .then((res) => {
                    const options = res.data.data;

                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].DistrictName; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].DistrictName; // Set the text of the option
                        option.setAttribute("districtcode", options[i].DistrictID);
                        selectDistrict.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        function getFullWardCode() {
            const selectedOption = districtSelect.options[districtSelect.selectedIndex];
            const customAttribute = selectedOption.getAttribute("districtcode");
            const districtid = parseInt(customAttribute);

            district_code.value = districtid;
            axios.get(`https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward`, {
                headers: {
                    Accept: "application/json",
                    token: token,
                },
                params: {
                    district_id: districtid,
                }
            })
                .then((res) => {
                    //remove all child
                    const options = res.data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].WardName; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].WardName; // Set the text of the option
                        option.setAttribute("WardCode", options[i].WardCode);
                        selectWardCode.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        const getWallCode = async () => {
            const ward_selected = selectWardCode.options[selectWardCode.selectedIndex];
            const ward_attribute = ward_selected.getAttribute("WardCode");
            const code_ward = parseInt(ward_attribute);

            ward_code.value = code_ward
        }

        const saveAddress = () => {
            var code_ward = ward_code.value;
            var code_district = district_code.value;
            var code_province = province_code.value;

            console.log(
                "Ward : " + code_ward + " \n" +
                "District : " + code_district +
                "Province : " + code_province
            )
        }

        async function loadCustomer(){
            getAllprovideCustomer()
            await axios.get("/client/address/find-all-customer/" + ID_CUSTOMER).then((e) => {
                LIST_ADDRESS = e.data
                console.log(e.data)
            }).catch((e) => {
                console.log(e)
            })

        }
        function getAllprovideCustomer() {
            // const thisOrder = document.getElementById(`hoaDon${orderId}`);
            fetch( `https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    token: token,
                },
            })
                .then((res) => res.json())
                .then((data) => {
                    const defaultOption = document.createElement("option");
                    defaultOption.value = -1; // Set the value as needed
                    defaultOption.textContent = "Chọn Tỉnh"; // Set the text content
                    // Set the 'disabled' and 'selected' attributes to make it the default option
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    selectCityCustomer.appendChild(defaultOption);
                    const options = data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        // option.value = options[i].ProvinceID; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].ProvinceName; // Set the text of the option
                        option.setAttribute("providecode", options[i].ProvinceID);
                        selectCityCustomer.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        function getAllDistrictCustomer() {
            const selectedOption = selectCityCustomer.options[selectCityCustomer.selectedIndex];

            const customAttribute = selectedOption.getAttribute("providecode");
            const provinceid = parseInt(customAttribute);
            document.querySelector("#cityCode").value = provinceid
            const selectDistrict = document.querySelector(` #district_customer`);

            axios
                .get(`https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district`, {
                    params: {
                        province_id: provinceid,
                    },
                    headers: {
                        Accept:  "application/json",
                        token: token,
                    },

                })
                .then((res) => {
                    const options = res.data.data;

                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].DistrictID; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].DistrictName; // Set the text of the option
                        option.setAttribute("districtcode", options[i].DistrictID);
                        selectDistrict.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        function getFullWardCodeCustomer() {
            const selectedOption = districtSelectCustomer.options[districtSelectCustomer.selectedIndex];
            const customAttribute = selectedOption.getAttribute("districtcode");
            const districtid = parseInt(customAttribute);
            document.querySelector("#districtCode").value = districtid
            axios.get( `https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward`, {
                headers: {
                    Accept: "application/json",
                    token: token,
                },
                params: {
                    district_id: districtid,
                }
            })
                .then((res) => {
                    //remove all child
                    const options = res.data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].WardCode; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].WardName; // Set the text of the option
                        option.setAttribute("WardCode", options[i].WardCode);
                        selectWardCodeCustomer.appendChild(option); // Add the option to the select element
                    }
                })
                .catch((error) => console.error("Error:", error));
        }

        function validateAddress() {
            // VALUE
            const city = selectCityCustomer.options[selectCityCustomer.selectedIndex].text;
            const district = districtSelectCustomer.options[districtSelectCustomer.selectedIndex].text;
            const ward = selectWardCodeCustomer.options[selectWardCodeCustomer.selectedIndex].text;
            const email = document.querySelector("#email_customer").value;
            const name_house = document.querySelector("#address_customer").value;
            const name = document.querySelector("#name_customer").value;
            const phone_number = document.querySelector("#phone_number_customer").value;

            // VIEW
            const city_view = selectCityCustomer;
            const district_view = districtSelectCustomer;
            const ward_view = selectWardCodeCustomer;
            const email_view = document.querySelector("#email_customer");
            const name_house_view = document.querySelector("#address_customer");
            const name_view = document.querySelector("#name_customer");
            const phone_number_view = document.querySelector("#phone_number_customer");

            //ERROR
            const city_error = document.querySelector("#city_customer_error");
            const district_error = document.querySelector("#district_customer_error");
            const ward_error = document.querySelector("#ward_customer_error");
            const email_error = document.querySelector("#email_customer_error");
            const name_house_error = document.querySelector("#address_customer_error");
            const name_error = document.querySelector("#name_customer_error");
            const phone_error = document.querySelector("#phone_number_customer_error");

            // REGEX
            var phone_regex = /(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})\b/;
            var email_regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            var flag = 0;

            if(name !== "" && name !== null){
                if(name.trim() === ""){
                    flag++;
                    name_view.style.border = ERROR_BORDER
                    name_error.style.display = 'block'
                }else{
                    name_view.style.border = SUCCESS_BORDER
                    name_error.style.display = 'none'
                }
            }else{
                flag++;
                name_view.style.border = ERROR_BORDER
                name_error.style.display = 'block'
            }

            if(email !== "" && email !== null){
                if(!email_regex.test(email)){
                    flag++;
                    email_view.style.border = ERROR_BORDER
                    email_error.style.display = 'block'
                }else{
                    email_view.style.border = SUCCESS_BORDER
                    email_error.style.display = 'none'
                }
            }else{
                flag++;
                email_view.style.border = ERROR_BORDER
                email_error.style.display = 'block'
            }

            if(phone_number !== "" && phone_number !== null){
                if(!phone_regex.test(phone_number)){
                    flag++;
                    phone_number_view.style.border = ERROR_BORDER
                    phone_error.style.display = 'block'
                }else{
                    phone_number_view.style.border = SUCCESS_BORDER
                    phone_error.style.display = 'none'
                }
            }else{
                flag++;
                phone_number_view.style.border = ERROR_BORDER
                phone_error.style.display = 'block'
            }

            if(city !== "" && city !== null && city !== undefined && city && city !== "Chọn Tỉnh" ){
                city_view.style.border = SUCCESS_BORDER
                city_error.style.display = 'none'
            }else{
                flag++;
                city_view.style.border = ERROR_BORDER
                city_error.style.display = 'block'
            }

            if(district !== "" && district !== null && district !== undefined && district !== "Chọn quận/huyện"){
                district_view.style.border = SUCCESS_BORDER
                district_error.style.display = 'none'
            }else{
                flag++;
                district_view.style.border = ERROR_BORDER
                district_error.style.display = 'block'
            }

            if(ward !== "" && ward !== null && ward !== undefined && ward !== "Chọn phường/xã"){
                ward_view.style.border = SUCCESS_BORDER
                ward_error.style.display = 'none'
            }else{
                flag++;
                ward_view.style.border = ERROR_BORDER
                ward_error.style.display = 'block'
            }

            if(name_house !== "" && name_house !== null){
                if(name_house.trim() !== ""){
                    name_house_view.style.border = SUCCESS_BORDER
                    name_house_error.style.display = 'none'
                }
            }else{
                flag++;
                name_house_view.style.border = ERROR_BORDER
                name_house_error.style.display = 'block'
            }

            if(flag === 0 ){
                const ward_selected = selectWardCodeCustomer.options[selectWardCodeCustomer.selectedIndex];
                const ward_attribute = ward_selected.getAttribute("WardCode");
                const code_ward = parseInt(ward_attribute);

                document.querySelector("#wardCode").value = code_ward
                document.querySelector("#btn_add_address").disabled = false
            }else{
                document.querySelector("#btn_add_address").disabled = true
            }

            return flag;
        }

        const addAddress = async() => {
            // VALUE
            const city = selectCityCustomer.options[selectCityCustomer.selectedIndex].text;
            const district = districtSelectCustomer.options[districtSelectCustomer.selectedIndex].text;
            const ward = selectWardCodeCustomer.options[selectWardCodeCustomer.selectedIndex].text;
            const email = document.querySelector("#email_customer").value;
            const name_house = document.querySelector("#address_customer").value;
            const name = document.querySelector("#name_customer").value;
            const phone_number = document.querySelector("#phone_number_customer").value;
            const code_ward = document.querySelector("#wardCode").value;
            const code_district = document.querySelector("#districtCode").value;
            const code_city = document.querySelector("#cityCode").value;
            const is_default = document.querySelector("#default_customer").checked

            var address = {
                "id" : ID_ADDRESS,
                "name" : name,
                "email" : email,
                "phone_number" : phone_number,
                "code_city" : code_city,
                "code_district" : code_district,
                "code_ward" : code_ward,
                "city" : city,
                "ward" : ward,
                "district" : district,
                "address" : name_house,
                "is_default": is_default
            }

            Swal.fire({
                title: "Xác nhận thêm địa chỉ",
                text: "Bạn đồng ý với các thông tin trên và xác nhận thêm địa chỉ mới",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Thêm mới"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await axios.post("/client/address/add-customer?id_customer=" + ID_CUSTOMER, address).then(res => {
                        console.log(res.data)
                    }).catch(err => {
                        console.log(err)
                    })

                    location.reload()
                }
            });

        }

        const changeStatus = async (id) => {
            console.log(id)
            await axios.put(`/client/address/change-status/${id}`).then(res => {
                location.reload()
            }).catch(err => {
                console.log(err)
            })
        }

        const changeAddress = async (id) =>{
            // VIEW
            const city_view = selectCityCustomer;
            const district_view = districtSelectCustomer;
            const ward_view = selectWardCodeCustomer;
            const email_view = document.querySelector("#email_customer");
            const name_house_view = document.querySelector("#address_customer");
            const name_view = document.querySelector("#name_customer");
            const phone_number_view = document.querySelector("#phone_number_customer");

            if(LIST_ADDRESS.find((e) => e.id === id) !== undefined){
                var address = LIST_ADDRESS.find((e) => e.id === id)
                console.log(address)
                email_view.value = address.email;
                name_view.value = address.tenNguoiNhan;
                phone_number_view.value = address.sdt_nguoi_nhan;
                name_house_view.value = address.tenDiaChi;
                document.querySelector("#default_customer").checked = address.trangThai
                document.querySelector("#id_customer").value = address.id
                getAllprovideByCode(address.districtCode, address.wardCode, address.provinceCode)
                validateAddress()
            }else{
                console.log(LIST_ADDRESS)
                console.log("Không tìm thấy phần tử nào trong mảng")
            }

        }

        function getAllprovideByCode(district_code, ward_code, province_code) {
            document.querySelector("#cityCode").value = province_code
            document.querySelector("#districtCode").value = district_code
            document.querySelector("#wardCode").value = ward_code

            // const thisOrder = document.getElementById(`hoaDon${orderId}`);
            fetch( `https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    token: token,
                },
            })
                .then((res) => res.json())
                .then((data) => {
                    const defaultOption = document.createElement("option");
                    defaultOption.value = -1; // Set the value as needed
                    defaultOption.textContent = "Chọn Tỉnh"; // Set the text content
                    // Set the 'disabled' and 'selected' attributes to make it the default option
                    defaultOption.disabled = true;
                    selectCityCustomer.appendChild(defaultOption);
                    const options = data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        // option.value = options[i].ProvinceID; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].ProvinceName; // Set the text of the option
                        option.setAttribute("providecode", options[i].ProvinceID);
                        if(province_code === String(options[i].ProvinceID)){
                            option.selected = true;
                        }
                        selectCityCustomer.appendChild(option); // Add the option to the select element
                    }
                    getAllDistrictByCode(ward_code, district_code, province_code)
                })
                .catch((error) => console.error("Error:", error));
        }

        function getAllDistrictByCode(ward_code, district_code, provinceCode) {
            const selectDistrict = document.querySelector(` #district_customer`);

            axios
                .get(`https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district`, {
                    params: {
                        province_id: provinceCode,
                    },
                    headers: {
                        Accept:  "application/json",
                        token: token,
                    },

                })
                .then((res) => {
                    const options = res.data.data;

                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].DistrictID; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].DistrictName; // Set the text of the option
                        option.setAttribute("districtcode", options[i].DistrictID);
                        if(district_code === String(options[i].DistrictID)){
                            option.selected = true;
                        }
                        selectDistrict.appendChild(option); // Add the option to the select element
                    }
                    getFullWardCodeByCode(ward_code, district_code)
                })
                .catch((error) => console.error("Error:", error));
        }

        function getFullWardCodeByCode(ward_code, district_code) {
            getFeeShippingCustomer(district_code,ward_code);
            axios.get( `https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward`, {
                headers: {
                    Accept: "application/json",
                    token: token,
                },
                params: {
                    district_id: district_code,
                }
            })
                .then((res) => {
                    //remove all child
                    const options = res.data.data;
                    for (let i = 0; i < options.length; i++) {
                        const option = document.createElement("option");
                        option.value = options[i].WardCode; // Set the value of the option (you can change this to any value you want)
                        option.text = options[i].WardName; // Set the text of the option
                        option.setAttribute("WardCode", options[i].WardCode);
                        if(ward_code === String(options[i].WardCode)){
                            option.selected = true;
                        }
                        selectWardCodeCustomer.appendChild(option); // Add the option to the select element
                    }
                    validateAddress()
                })
                .catch((error) => console.error("Error:", error));
        }

        const deleteAddress = async (id) =>{
            await axios.delete(`/client/address/delete/${id}`).then((e) =>{
                location.reload()
            }).catch((e) =>{
                console.log(e)
            })
        }

        function editAddress() {
            var idadress = document.getElementById("idcustomer").value
            changeAddress(idadress)
            console.log(idadress)
            ID_ADDRESS = idadress;
        }
    </script>

</section>
</body>
</html>
