<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{user2/layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khăn choàng</title>
</head>

<body layout:fragment="content">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/index">Trang chủ</a>
                    <span class="breadcrumb-item active">Đổi mật khẩu</span>
                </nav>
            </div>
        </div>
    </div>
    <section class="profile p-3" th:if="request">
        <div class="container rounded bg-white mt-3 mb-3">
            <div class="py-5">
                <h2 class="font-weight text-center"><strong>Đổi mật khẩu</strong></h2>
            </div>
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center px-3 ">
                        <div class="avatar-upload">
                            <div class="avatar-preview">
                                <div id="imagePreview"
                                    style="background-image: url('static/avatar/${sessionScope.account.avatar}');">
                                </div>
                            </div>
                            <div class="mt-3">
                                <label class="h3" th:text="${session?.authenuser?.getCustomer()?.name}">
                                    <strong></strong> </label>
                            </div>
                        </div>
                        <div class="mb-5 text-left">
                            <nav class="nav flex-column">
                                <a class="nav-link active" aria-current="page" href="/shop/profile"><i
                                        class="fa fa-drivers-license-o"></i>&nbsp; Thông tin</a>
                                <a class="nav-link" href="/shop/order/history"><i class="fa fa-shopping-bag"></i>&nbsp;
                                    Đơn hàng</a>
                                <a class="nav-link" href="/user/change_password"><i class="fa fa-key"></i>&nbsp;
                                    Đổi mật khẩu</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <form class="col-md-8 border-right p-3 pb-5" th:action="@{/user/passwordchange}" method="post"
                    th:object="${userchangepassword}">
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Tên tài khoản</label>
                        <input type="text" class="form-control" th:field="*{username}"
                            placeholder="Hãy nhập tên tài khoản" disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Mật khẩu</label>
                        <input type="password" class="form-control" th:field="*{password}"
                            placeholder="Hãy nhập mật khẩu" />
                        <div class="invalid-feedback">Nhập mật khẩu: </div>
                        <div th:if="${#fields.hasErrors('password')}" class="errors text-danger form-text"
                            th:errors="*{password}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Mật khẩu mới</label>
                        <input type="password" class="form-control" th:field="*{newpassword}"
                            placeholder="Hãy nhập mật khẩu mới" />
                        <div class="invalid-feedback">Nhập mật khẩu mới: </div>
                        <div th:if="${#fields.hasErrors('newpassword')}" class="errors text-danger form-text"
                            th:errors="*{newpassword}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" th:field="*{newconfirm}"
                            placeholder="Hãy nhập xác nhận mật khẩu mới" />
                        <div class="invalid-feedback">Nhập xác nhận mật khẩu mới: </div>
                        <div th:if="${#fields.hasErrors('newconfirm')}" class="errors text-danger form-text"
                            th:errors="*{newconfirm}"></div>
                    </div>
                    <div class="mt-4">
                        <div class="text-center text-danger mb-2" th:if="${message}">
                            <span th:text="${message}"></span>
                        </div>
                        <div class="text-center text-success mb-2" th:if="${successmessage}">
                            <span th:text="${successmessage}"></span>
                        </div>
                        <button class="btn btn-primary profile-button" type="submit">Cập nhật</button>
                    </div>
                </form>
            </div>
    </section>
    <section class="profile p-3" th:unless="${request}">
        <div class="container rounded bg-white mt-3 mb-3">
            <div class="py-5" th:if="${message}">
                <h2 class="font-weight text-center"><strong th:text="${message}"></strong></h2>
            </div>
        </div>
    </section>
</body>

</html>
