<!DOCTYPE html>
<html layout:decorate="~{user2/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shope</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <style>

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .product-item:hover{
            box-shadow: 0 0 0px #DDDDDD!important;
        }
    </style>
</head>

<body layout:fragment="content">
    <br/>
    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 530px;">
                            <img class="position-absolute w-100 h-100" src="https://theme.hstatic.net/200000573089/1000922621/14/ms_banner_img1.jpg?v=50"
                                style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                                        Khăn choàng cổ lụa</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Khăn choàng cổ bằng lụa luôn mang đến cho người dùng cảm giác mềm mịn, mỏng nhẹ, mát lạnh. Đồng thời khi đeo loại khăn này, bạn sẽ toát lên vẻ sang trọng khó cưỡng</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                        href="#">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 530px;">
                            <img class="position-absolute w-100 h-100" src="https://theme.hstatic.net/200000573089/1000922621/14/ms_banner_img2.jpg?v=50"
                                style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Khăn choàng cổ cashmere</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Cashmere là một nguyên liệu đắt giá và đẳng cấp, được tạo ra từ lông của những chú dê sống trên các ngọn núi cao lạnh giá -40 độ của Himalaya</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                        href="#">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Featured Start -->
    <div class="container-fluid bg-light"
         style="    width: 87%;
                    position: relative;
                    z-index: 20;
                    top: -42px;">
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center " style="padding: 50px 20px 50px 20px;">
                    <img src="https://theme.hstatic.net/200000573089/1000922621/14/policy_icon2.png?v=50"
                         style="margin-right: 18px;
                                margin-top: -24px;"
                    />
                    <div>
                        <h5 class="font-weight-semi-bold m-0" style="font-size: 18px;">Hỗ trợ 24/7</h5>
                        <p
                         style="font-size: 12px;
                                display: inline-block;
                                margin-top: 7px;"
                        >Liên hệ vơi chúng tôi 24 giờ , 7 ngày trong tuần</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center " style="padding: 50px 20px 50px 20px;">
                    <img src="	https://theme.hstatic.net/200000573089/1000922621/14/policy_icon1.png?v=50"
                         style="margin-right: 18px;
                                margin-top: -24px;"
                    />
                    <div>
                        <h5 class="font-weight-semi-bold m-0" style="font-size: 18px;">Giao hàng nhanh chóng</h5>
                        <p
                                style="font-size: 12px;
                                display: inline-block;
                                margin-top: 7px;"
                        >Chỉ trong vòng 2 ngày với các khu vực cách Hà Nội 50KM</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center " style="padding: 50px 20px 50px 20px;">
                    <img src="https://theme.hstatic.net/200000573089/1000922621/14/policy_icon3.png?v=50"
                         style="margin-right: 18px;
                                margin-top: -24px;"
                    />
                    <div>
                        <h5 class="font-weight-semi-bold m-0" style="font-size: 18px;">Đổi trả</h5>
                        <p
                                style="font-size: 12px;
                                display: inline-block;
                                margin-top: 7px;"
                        >Sản phẩm thông thường được đổi trong vòng 14 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center " style="padding: 50px 20px 50px 20px;">
                    <img src="https://theme.hstatic.net/200000573089/1000922621/14/policy_icon4.png?v=50"
                         style="margin-right: 18px;
                                margin-top: -24px;"
                    />
                    <div>
                        <h5 class="font-weight-semi-bold m-0" style="font-size: 18px;">Bảo mật</h5>
                        <p
                                style="font-size: 12px;
                                display: inline-block;
                                margin-top: 7px;"
                        >Hệ thống bảo mật vượt trội. Khách hàng an tâm khi mua hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

<!--    LIST PRODUCT   -->
    <section class="container-fluid">
        <div>
            <h3 style="text-align: center">Sản phẩm bán chạy nhất</h3>
            <p style="text-align: center">Các sản phẩm nổi bật theo từng phân loại</p>
            <div style="    display: block;
                            width: 150px;
                            height: 2px;
                            background: #333333;
                            margin: 10px auto 50px;"></div>
        </div>

        <div class="swiper mySwiper container-fluid" style="width: 92%;" >
            <div class="swiper-wrapper" >
                <div class="swiper-slide" th:each="product : ${productDetails}">
                    <a class="h6 text-decoration-none text-truncate" th:href="@{/product/detail/{id}(id = ${product.id})}">
                        <div class="product-item bg-light">
                            <div  th:if="${product.productDetails != null && !product.productDetails.empty}" class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100"
                                     th:src="${ product.productDetails[0].imageProducts[0].img }"
                                     style="max-width: 100%;">
                            </div>
                            <div class="text-center py-4"
                                 style="color: #8a867d;
                                        width: 80%;
                                        text-wrap: wrap;
                                        margin-left: auto;
                                        margin-right: auto;
                                        height: 87px;"
                                 th:text="${product.name}"
                            >
                                Khăn choàng thời trang
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h6 style="color:#dd3333; font-weight: bold!important;"
                                th:text="${#strings.replace(#numbers.formatDecimal(product.productDetails[0].price, 0, 'COMMA', 2, 'POINT'), '.00', '') + ' VNĐ '}">
                                    6.000.000 đ
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star-half text-primary mr-1"></small>
                                (0)
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="container-fluid">
        <div>
            <h3 style="text-align: center; margin-top: 40px">Sản phẩm mới nhất</h3>
            <p style="text-align: center">Các sản phẩm mới nhất theo từng phân loại</p>
            <div style="    display: block;
                            width: 150px;
                            height: 2px;
                            background: #333333;
                            margin: 10px auto 50px;"></div>
        </div>

        <div class="swiper mySwiper container-fluid" style="width: 92%;" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="product : ${product}">
                    <a class="h6 text-decoration-none text-truncate" th:href="@{/product/detail/{id}(id = ${product.id})}">
                        <div class="product-item bg-light">
                            <div th:if="${product.productDetails != null && !product.productDetails.empty}" class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100"
                                     th:src="${ product.productDetails[0].imageProducts[0].img }"
                                     style="max-width: 100%;">
                            </div>
                            <div class="text-center py-4"
                                 style="color: #8a867d;
                                        width: 80%;
                                        text-wrap: wrap;
                                        margin-left: auto;
                                        margin-right: auto;
                                        height: 87px;"
                                 th:text="${product.name}"
                            >
                                Khăn choàng thời trang
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h6 style="color:#dd3333; font-weight: bold!important;"
                                    th:text="${#strings.replace(#numbers.formatDecimal(product.productDetails[0].price, 0, 'COMMA', 2, 'POINT'), '.00', '') + ' VNĐ '}">
                                    6.000.000 đ
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star-half text-primary mr-1"></small>
                                (0)
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 5,
            spaceBetween: 30,
            grabCursor: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            },
        });
    </script>
</body>


</html>
