<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
      <head>
      </head>
      <body>
        <section layout:fragment="content">
    <div id="data" th:attr="data-my-data=${employee}">Data from Thymeleaf</div>
    <ul>
      <li th:each="productDetail : ${productDetailList}">
          <span th:text="${productDetail.name}"></span>
          <button onclick="addorder(this)" th:attr="data-my-data=${productDetail.toJson()}">add</button>
      </li>
  </ul>
  <button onclick="createHoaDon()">
    tạo hóa đơn
    </button>
  <h1>Employee List:</h1>
  <ul>
      <li th:each="employee : ${employee}">
          <span th:text="${employee.name}"></span>
      </li>
  </ul>

  <h1>Items in Cart:</h1>
  <ul id="cart">

  </ul>
    <script type="t">
     function addorder(button) {
    var product = button.getAttribute('data-my-data');
    var jsonData = JSON.parse(product);
    console.log(jsonData);
}
 = 'Hello JavaScript';
        var listorder;
        var order;
        var htmlreder;
        // Access the data from Thymeleaf in JavaScript
        var myData = document.getElementById('data').getAttribute('data-my-data');
        function show(orderdetail){
            document.getElementById("cart")
            const orderItem = orderdetail.items;
            orderItem.forEach(element => {
                this.
            });
            document.getElementById('cart').innerHTML = htmlreder;
        }
        // Now you can use the 'myData' variable in your JavaScript code
        console.log("Data from Thymeleaf: " + myData);
    </script>
    </section>
      </body>
      </html>
