<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="date"] {
            width: 300px;
            padding: 5px;
        }

        select {
            width: 315px;
            padding: 5px;
        }

        .submit-btn {
            margin-top: 20px;
        }

        .file-label {
            display: inline-block;
            position: relative;
        }

        .file {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

    </style>
</head>
<!--Image-->

<body>
<section layout:fragment="content">
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var output = document.getElementById('preview');
                output.src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

    <style>
        .required-label::before {
            content: "*";
            color: red;
            margin-right: 5px;
        }
    </style>


    <form th:object="${employee}" th:action="@{/admin/employee/add}" action="#" method="post">
        <h4  style="font-weight: 1000">Thông tin nhân viên</h4>
            <label class="file-label">
                <input class="file" th:name="image"   type="file" accept="image/*" onchange="previewImage(event)"/>
                <img id="preview"  width="150px" height="200px" style=" border: 1px solid #0d3ddc;
            padding: 10px;
            border-radius: 50%;"/>
            </label>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label class="required-label">Email:</label>
            <input type="text" th:name="email"  placeholder="Nhập email..." class="form-control">
        </div>
        <div style="clear: both; display: block; height: 10px"></div>

        <div>
            <label>Address:</label>
            <!--            <input type="text" th:name="address" class="form-control">-->
            <select th:name="address" id="province">
                <option th:each="province :${provinces}" th:value="${province.name}"
                        th:text="${province.name}"></option>
            </select>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label>Country:</label>
            <!--            <input type="text" th:name="country" class="form-control">-->
            <select th:name="country" id="ward">
                <option th:each="ward :${wards}" th:value="${ward.name}" th:text="${ward.name}">chọn quận</option>
            </select>
        </div>

<!--        2      -->
        <div style="position: absolute; right: 400px; top: 150px">
            <h4 style="font-weight: 1000">Thông tin chi tiết</h4>
            <div>
                <label class="required-label">Mã:</label>
                <input type="text" th:name="code"  placeholder="Nhập mã nhân viên..." class="form-control">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

            <div>
                <label class="required-label">Tên nhân viên:</label>
                <input type="text" th:name="name"   placeholder="Nhập tên nhân viên...   "  class="form-control">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

            <div>
                <label class="required-label">Birth Date:</label>
                <input type="date" th:name="birth_date" class="form-control">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

            <div>
                <label class="required-label">Giới tính:</label>
                <input type="radio" th:name="gender"  th:value="false" th:text="Nam" checked>
                <input type="radio" th:name="gender" th:value="true" th:text="Nữ">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

            <div>
                <label>City:</label>
                <!--            <input type="text" th:name="city" class="form-control">-->
                <select th:name="city" id="district">
                    <option th:each="district :${districts}" th:value="${district.name}" th:text="${district.name}">chọn
                        quận
                    </option>
                </select>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
        </div>
        <!--    3-->
        <div style="position: absolute; right: 50px; top: 185px">

            <div>
                <label class="required-label">Phone:</label>
                <input type="text" th:name="phone"  placeholder="Nhập số điện thoại..."  class="form-control">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

            <div>
                <label class="required-label">Mã định danh:</label>
                <input type="text" th:name="cccd"  placeholder="Nhập mã định danh..."  class="form-control">
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label class="required-label">Địa chỉ cụ thể:</label>
                <input type="text" th:name="address"  placeholder="Địa chỉ cụ thể...." class="form-control">

            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label class="required-label">Chức vụ:</label>
                <select name="roles">
                    <option th:each="roles:${roles}"  th:value="${roles.id}" th:text="${roles.name}"></option>
                </select>
            </div>
            <div>
                <label class="required-label">Status:</label>
                <select th:name="status">
                    <option th:value="0">Active</option>
                    <option th:value="1">No longer active</option>
                </select>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>

        </div>



        <div class="submit-btn" style="text-align: right; bottom: 1px">
            <button class="btn btn-primary" type="submit">Lưu</button>
        </div>
    </form>
    <div style="position:absolute ;right: 95px; bottom: 72px" >
        <a href="/admin/employee/hien-thi"><button class="btn btn-primary">Quay Lại</button></a>
    </div>
</section>
</body>
</html>