<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <style>

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"] {
      width: 300px;
      padding: 5px;
    }

    select {
      width: 315px;
      padding: 5px;
    }

    .submit-btn {
      margin-top: 20px;
    }

    .file-label {
      display: inline-block;
      position: relative;
    }

    .file {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

  </style>
</head>
<!--Image-->

<body>
<section layout:fragment="content">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
            <li class="breadcrumb-item active">Detail Employee</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var output = document.getElementById('preview');
        output.src = e.target.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>


  <form th:object="${employee}" th:action="@{'/admin/employee/add'}" action="#" method="post">
    <h4  style="font-weight: 1000">Thông tin nhân viên</h4>
    <input type="hidden" th:name="id" th:value="${detail.id}">
    <label class="file-label">
      <input class="file" th:name="image"  th:src="@{'/images/faces/' + ${detail.image}}"  th:value="${detail.image}" type="file" accept="image/*" onchange="previewImage(event)"/>
      <img id="preview" th:src="@{'/images/faces/' + ${detail.image}}" th:value="${detail.image}"  width="150px" height="200px" style=" border: 1px solid #0d3ddc;
            padding: 10px;
            border-radius: 50%;"/>
    </label>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label>Email:</label>
      <input type="text" th:name="email" th:value="${detail.email}" placeholder="Nhập email..." class="form-control">
    </div>
    <div style="clear: both; display: block; height: 10px"></div>

    <div>
      <label>Address:</label>
      <!--            <input type="text" th:name="address" class="form-control">-->
      <select th:name="address" id="province">
        <option th:each="province :${provinces}" th:value="${province.name}"
                th:text="${province.name}"></option>
      </select>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label>Country:</label>
      <!--            <input type="text" th:name="country" class="form-control">-->
      <select th:name="country" id="ward">
        <option th:each="ward :${wards}" th:value="${ward.name}" th:text="${ward.name}">chọn quận</option>
      </select>
    </div>

    <!--        2      -->
    <div style="position: absolute; right: 400px; top: 150px">
      <h4 style="font-weight: 1000">Thông tin chi tiết</h4>
      <div>
        <label>Mã:</label>
        <input type="text" th:name="code" th:value="${detail.code}" placeholder="Nhập mã nhân viên..." class="form-control">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label>Tên nhân viên:</label>
        <input type="text" th:name="name" th:value="${detail.name}"  placeholder="Nhập tên nhân viên...   "  class="form-control">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label>Birth Date:</label>
        <input type="date" th:name="birth_date" th:value="${detail.birth_date}" class="form-control">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label>Giới tính:</label>
        <input type="radio" th:name="gender"  th:value="true" th:text="Nam" th:checked="${detail.gender==true}">
        <input type="radio" th:name="gender"  th:value="false" th:text="Nữ" th:checked="${detail.gender==false}">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label>City:</label>
        <!--            <input type="text" th:name="city" class="form-control">-->
        <select th:name="city" id="district">
          <option th:each="district :${districts}" th:value="${district.name}" th:text="${district.name}">chọn
            quận
          </option>
        </select>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
    </div>
    <!--    3-->
    <div style="position: absolute; right: 50px; top: 185px">

      <div>
        <label>Phone:</label>
        <input type="text" th:name="phone" th:value="${detail.phone}" placeholder="Nhập số điện thoại..."  class="form-control">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label>Mã định danh:</label>
        <input type="text" th:name="cccd" th:value="${detail.cccd}" placeholder="Nhập mã định danh..."  class="form-control">
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label>Địa chỉ cụ thể:</label>
        <input type="text" th:name="address" th:value="${detail.address}" placeholder="Địa chỉ cụ thể...." class="form-control">

      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label>Chức vụ:</label>
        <select name="roles">
          <option th:each="roles:${roles}" th:value="${roles.id}" th:text="${roles.name}" th:selected="${roles.id==detail.roles.id}"></option>
        </select>
      </div>
      <div>
        <label>Status:</label>
        <select th:name="status">
          <option th:value="0" th:selected="${detail.status==0}">Active</option>
          <option th:value="1" th:selected="${detail.status==1}">No longer active</option>
        </select>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

    </div>
    <div class="submit-btn" style="text-align: right; bottom: 1px">
      <button class="btn btn-primary" type="submit">Lưu</button>
    </div>
  </form>
</section>
</body>
</html>
