<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nhân Viên</title>
    //Phân Trang Cho Table
    <script type="text/javascript" style="text-align: center">
        function Pager(tableName, itemsPerPage) {
            this.tableName = tableName;
            this.itemsPerPage = itemsPerPage;
            this.currentPage = 1;
            this.pages = 0;
            this.inited = false;

            this.showRecords = function (from, to) {
                var rows = document.getElementById(tableName).rows;
                for (var i = 1; i < rows.length; i++) {
                    if (i < from || i > to)
                        rows[i].style.display = 'none';
                    else
                        rows[i].style.display = '';
                }
            }

            this.showPage = function (pageNumber) {
                if (!this.inited) {
                    alert("not inited");
                    return;
                }
                var oldPageAnchor = document.getElementById('pg' + this.currentPage);
                oldPageAnchor.className = 'pg-normal';

                this.currentPage = pageNumber;
                var newPageAnchor = document.getElementById('pg' + this.currentPage);
                newPageAnchor.className = 'pg-selected';

                var from = (pageNumber - 1) * itemsPerPage + 1;
                var to = from + itemsPerPage - 1;
                this.showRecords(from, to);
            }

            this.prev = function () {
                if (this.currentPage > 1)
                    this.showPage(this.currentPage - 1);
            }

            this.next = function () {
                if (this.currentPage < this.pages) {
                    this.showPage(this.currentPage + 1);
                }
            }

            this.init = function () {
                var rows = document.getElementById(tableName).rows;
                var records = (rows.length - 1);
                this.pages = Math.ceil(records / itemsPerPage);
                this.inited = true;
            }
            this.showPageNav = function (pagerName, positionId) {
                if (!this.inited) {
                    alert("not inited");
                    return;
                }
                var element = document.getElementById(positionId);

                var pagerHtml = '<span onclick="' + pagerName +
                    '.prev();" class="pg-normal">Trước</span> | ';
                for (var page = 1; page <= this.pages; page++)
                    pagerHtml += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName +
                        '.showPage(' + page + ');">' + page + '</span> | ';
                pagerHtml += '<span onclick="' + pagerName + '.next();" class="pg-normal">Sau</span>';

                element.innerHTML = pagerHtml;
            }
        }
    </script>
</head>

<body>
<section layout:fragment="content">
    <!--<script>-->
    <!--    swal("Xin Chào Admin", "Chúc Bạn 1 Ngày Tốt Lành Nhé", "");-->
    <!--</script>-->

    <style type="text/css">
        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .dropdown-submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover > .dropdown-submenu {
            display: block;
        }
    </style>


    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Dropdown
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Giới Tính &raquo;</a>
                <ul class="dropdown-menu dropdown-submenu">
                    <li>
                        <a class="dropdown-item" href="#" onclick="filterGender('Nam')">Nam</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="filterGender('Nữ')">Nữ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    Submenu &raquo;
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Multi level 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Multi level 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 5</a>
                    </li>
                </ul>
            </li>
        </ul>
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button"
               id="searchInput" onkeyup="myFunction()" placeholder="Tìm kiếm theo mã, tên, CCCD, Địa chỉ....">
    </div>

    <Br>

    <a href="/admin/employee/form-add" class="btn btn-primary">New</a>
    <a href="/admin/employee/hien-thi" class="btn btn-warning">Reload</a>

    <!-- Table -->
    <div style="height: 500px; overflow: auto;">

        <table class="table table-hover" id="myTable">
            <thead class="position-sticky top-0" >

            <tr>
                <th>#</th>
                <th scope="col">Mã Nhân Viên
                    <a href="#" onclick="sortTable('asc')"><i
                            class="fa-solid fa-sort-up fa-xs"></i></a>
                    <a href="#" onclick="sortTable('desc')"><i
                            class="fa-solid fa-sort-down fa-xs"></i></a>
                </th>
                <th scope="col">Tên Nhân Viên
                    <a href="#" onclick="sortTable('asc')"><i
                            class="fa-solid fa-sort-up fa-xs"></i></i></a>
                    <a href="#" onclick="sortTable('desc')"><i
                            class="fa-solid fa-sort-down fa-xs"></i></a>
                </th>
                <th>Image</th>

                <th>Giới Tính</th>
                <th>Ngày Sinh</th>
                <th>Số Điện Thoại</th>
                <th>Email</th>
                <th>Chức Vụ</th>
                <th>Trạng Thái</th>
                <th>Tính Năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee, i : ${list}">
                <td th:text="${i.index+1}"></td>
                <!--            <td th:text="${employee.roles.id}"></td>-->
                <td th:text="${employee.code}"></td>
                <td th:text="${employee.name}"></td>
                <td><img th:src="@{'/images/faces/' + ${employee.image}}"
                         width="60px" height="50px"></td>
                <td th:text="${employee.gender} == true? 'Nam':'Nữ'"></td>
                <td th:text="${employee.birth_date}"></td>
                <td th:text="${employee.phone}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.roles.name}"></td>
                <td th:text="${employee.status} == 0 ? 'Nghỉ Việc' : 'Đang Làm'"></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a th:href="@{'/admin/employee/detail/' + ${employee.id}}" class="btn btn-danger">Detail</a>
                        <a th:href="@{'/admin/employee/delete/' + ${employee.id}}" class="btn btn-warning">Delete</a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <!--  Page-->
    </div>


    <div id="pageNavPosition" class="text-right"></div>
    <script type="text/javascript">
        var pager = new Pager('myTable', 7);
        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
    </script>
    </div>

    <script src="jquery.min.js"></script>
    <script type="text/javascript">
        // Tìm kiếm
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        //Sắp xếp
        function sortTable(order) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable");
            switching = true;

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[1]; // Index 1 represents the Employee Code column
                    y = rows[i + 1].getElementsByTagName("td")[1];

                    if (order === 'asc') {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (order === 'desc') {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        //Lọc

        function filterGender(gender) {
            var employees = document.getElementsByClassName('employee');

            for (var i = 0; i < employees.length; i++) {
                var employee = employees[i];
                var employeeGender = employee.getAttribute('data-gender');

                if (employeeGender === gender) {
                    employee.style.display = 'block';
                } else {
                    employee.style.display = 'none';
                }
            }
        }


        //Thời Gian
        // function time() {
        //     var today = new Date();
        //     var weekday = new Array(7);
        //     weekday[0] = "Chủ Nhật";
        //     weekday[1] = "Thứ Hai";
        //     weekday[2] = "Thứ Ba";
        //     weekday[3] = "Thứ Tư";
        //     weekday[4] = "Thứ Năm";
        //     weekday[5] = "Thứ Sáu";
        //     weekday[6] = "Thứ Bảy";
        //     var day = weekday[today.getDay()];
        //     var dd = today.getDate();
        //     var mm = today.getMonth() + 1;
        //     var yyyy = today.getFullYear();
        //     var h = today.getHours();
        //     var m = today.getMinutes();
        //     var s = today.getSeconds();
        //     m = checkTime(m);
        //     s = checkTime(s);
        //     nowTime = h + ":" + m + ":" + s;
        //     if (dd < 10) {
        //         dd = '0' + dd
        //     }
        //     if (mm < 10) {
        //         mm = '0' + mm
        //     }
        //     today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        //     tmp = '<i class="fa fa-clock-o" aria-hidden="true"></i> <span class="date">' + today + ' | ' + nowTime +
        //         '</span>';
        //     document.getElementById("clock").innerHTML = tmp;
        //     clocktime = setTimeout("time()", "1000", "Javascript");
        //
        //     function checkTime(i) {
        //         if (i < 10) {
        //             i = "0" + i;
        //         }
        //         return i;
        //     }
        // }
    </script>

</section>
</body>
</html>